<div class="col-md-9 col-sm-12 col-xl address-container">
    <div class="row address-header">
        <div class="col-auto me-auto">
            <h2>SỔ ĐỊA CHỈ</h2>
        </div>
        <div class="col-auto me-auto button-add">
            <button id="open-popup-btn" onclick="openPopup()">Thêm địa chỉ</button>
        </div>
    </div>
    <div class="row address-block">
        <div class="col-md-8 col-sm-12">
            <h5><span>Phạm Tân</span></h5>
            <p><span>Điện thoại: </span><span>0986428483</span></p>
            <p><span>Địa chỉ: </span><span>Tô Vĩnh Diện, Đông Hoà, Dĩ An, Bình Dương</span></p>
        </div>
        <div class="col-md-4 col-sm-12 col-address-action">
            <div>
                <button class="button-update">Cập nhật</button>
                <button class="button-delete">Xóa</button>
            </div>
            <div class="button-set">
                <button>Đặt làm mặc định</button>
            </div>

        </div>
    </div>

    <div id="popup-address-add" class="popup-address">
        <div class="row">
            <div>
                <input type="text" placeholder="Họ tên">
            </div>
            <div>
                <input type="text" placeholder="Số điện thoại">
            </div>
        </div>
        <div class="row">
            <div>
                <input type="text" placeholder="Địa chỉ">
            </div>
            <div>
                <select name="" id="">
                    <option value="" selected>Chọn tỉnh/thành</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div>
                <select name="" id="">
                    <option value="" selected>Chọn quận/huyện</option>
                </select>
            </div>
            <div>
                <select name="" id="">
                    <option value="" selected>Chọn phường/xã</option>
                </select>
            </div>
        </div>
        <div>
            <input type="checkbox" name="" id="">
            <label for="">Đặt làm mặc định</label>
        </div>
    </div>
</div>