<div class="container_content">
  <div class="frame_header">
    <p style="gap: 5px;">Chiến dịch</p>
    <p class="text_head">Quản lý chiến dịch</p>
  </div>
  <hr>
  <form action="" name="page_managecampaign" method="post">
    <div class="col-md-12">
      <div class="frame_title">
        <p><strong>Bảng tổng hợp chiến dịch</strong></p>
      </div>
      <div class="frame_body">
        <mat-tab-group>
          <mat-tab label="Tất cả">
            <div class="mt-4">
              <table class="table table-bordered table-striped table-hover custom-datatable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                  <tr>
                    <th>Tên chiến dịch</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th>Số lượng</th>
                    <th>Chi phí</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let campaign of allCampaigns">
                    <td>{{ campaign.name }}</td>
                    <td>{{ campaign.startDate }}</td>
                    <td>{{ campaign.endDate }}</td>
                    <td>{{ campaign.quantity }}</td>
                    <td>{{ campaign.cost }}</td>
                    <td>
                      <!-- Edit icon with a click event -->
                      <mat-icon (click)="editCampaign(campaign)" class="smaller-icon">edit</mat-icon>
                      
                      <!-- Delete icon with a click event -->
                      <mat-icon (click)="deleteCampaign(campaign)" class="smaller-icon">delete</mat-icon>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>

          <mat-tab label="Hiện tại">
            <div class="mt-4">
              <table class="table table-bordered table-striped table-hover custom-datatable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                  <tr>
                    <th>Tên chiến dịch</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th>Số lượng</th>
                    <th>Chi phí</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let campaign of getCurrentCampaigns()">
                    <td>{{ campaign.name }}</td>
                    <td>{{ campaign.startDate }}</td>
                    <td>{{ campaign.endDate }}</td>
                    <td>{{ campaign.quantity }}</td>
                    <td>{{ campaign.cost }}</td>
                    <td>
                      <!-- Edit icon with a click event -->
                      <mat-icon (click)="editCampaign(campaign)" class="smaller-icon">edit</mat-icon>
                      
                      <!-- Delete icon with a click event -->
                      <mat-icon (click)="deleteCampaign(campaign)" class="smaller-icon">delete</mat-icon>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
          
          <mat-tab label="Quá khứ">
            <div class="mt-4">
              <table class="table table-bordered table-striped table-hover custom-datatable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                  <tr>
                    <th>Tên chiến dịch</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th>Số lượng</th>
                    <th>Chi phí</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let campaign of getPastCampaigns()">
                    <td>{{ campaign.name }}</td>
                    <td>{{ campaign.startDate }}</td>
                    <td>{{ campaign.endDate }}</td>
                    <td>{{ campaign.quantity }}</td>
                    <td>{{ campaign.cost }}</td>
                    <td>
                      <!-- Edit icon with a click event -->
                      <mat-icon (click)="editCampaign(campaign)" class="smaller-icon">edit</mat-icon>
                      
                      <!-- Delete icon with a click event -->
                      <mat-icon (click)="deleteCampaign(campaign)" class="smaller-icon">delete</mat-icon>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
          
          <mat-tab label="Tương lai">
            <div class="mt-4">
              <table class="table table-bordered table-striped table-hover custom-datatable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                  <tr>
                    <th>Tên chiến dịch</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th>Số lượng</th>
                    <th>Chi phí</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let campaign of getFutureCampaigns()">
                    <td>{{ campaign.name }}</td>
                    <td>{{ campaign.startDate }}</td>
                    <td>{{ campaign.endDate }}</td>
                    <td>{{ campaign.quantity }}</td>
                    <td>{{ campaign.cost }}</td>
                    <td>
                      <!-- Edit icon with a click event -->
                      <mat-icon (click)="editCampaign(campaign)" class="smaller-icon">edit</mat-icon>
                      
                      <!-- Delete icon with a click event -->
                      <mat-icon (click)="deleteCampaign(campaign)" class="smaller-icon">delete</mat-icon>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </form>
</div>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

