<div class="manage-product-container">
    <div>
        <div>
            <p>Sản phẩm / Quản lý sản phẩm</p>
        </div>
        <div class="title">
            <p>Quản lý sản phẩm</p>
        </div>
        <hr>
        <div class="manage-block">
            <div class="block-header">
                <p>Bảng tổng hợp sản phẩm</p>
            </div>
            <div class="content-block">
                <div class="row content-header">
                    <div class="filter col-lg-6 col-md-3">
                        <select class="form-select no-border"> Bộ lọc
                            <option selected value="">Bộ lọc</option>
                            <option value="">1</option>
                            <option value="">2</option>
                        </select>
                    </div>
                    <div class="search col-lg-4 col-md-6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                        <input type="text" value="" placeholder="Search">
                    </div>
                    <div class="btn-create col-lg-2 col-md-3"><button type="button" class="btn"><i class="bi bi-plus"></i>Tạo sản phẩm</button>
                    </div>
                </div>
                <div>
                    <ul class="nav ">
                        <li class="nav-item ">
                            <a class="nav-link " href="">Tất cả (5)</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="">Còn hàng (1)</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="">Hết hàng(3)</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="">Đã xóa (1)</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <table class="table-product ">
                        <thead>
                            <tr>
                                <th></th>
                                <th scope="col" colspan="2">Tên sản phẩm</th>
                                <th scope="col">SKU</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Biến thể</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>
                                    <img src="../img/coat.jpeg" alt="">
                                </td>
                                <td>Áo khoác oversize - Oversize trench coat</td>
                                <td>71M850</td>
                                <td>1.250.000</td>
                                <td>125</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>
                                    <img src="../img/coat.jpeg" alt="">
                                </td>
                                <td>Áo khoác oversize - Oversize trench coat </td>
                                <td>71M850</td>
                                <td>1.250.000</td>
                                <td>125</td>
                                <td>4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="block-footer">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end ">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
</div>
