<div class="payment-final-container">
    <div class="thank-container mb-4">
        <div class="thank-header">
            <div class="mb-3 icon-check">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </svg>
            </div>
            <div class="thank-title">Cảm ơn bạn đã đặt hàng</div>
            <div>Một email xác nhận sẽ được gửi tới #####</div>
            <div>Xin vui lòng kiểm tra email của bạn.</div>

        </div>
        <div class="mb-4 " style="font-weight: 700;">Đơn hàng: </div>
        <hr class="mb-3 ">
        <div class="order-info">
            <div class="payment-footer-row">
                <div class="total-product__title">Tổng sản phẩm</div>
                <div class="total-product__value">000</div>
            </div>
            <div class="payment-footer-row">
                <div class="estimated-cost__title">Tạm tính</div>
                <div class="total-after__discount">1.900.000</div>
            </div>
            <div class="payment-footer-row">
                <div class="product-gift__title">Giảm giá</div>
                <div class="product-gift__value red">0</div>
            </div>
            <div class="payment-footer-row">
                <div class="product-ship__title">Phí giao hàng</div>
                <div class="product-ship__value">0</div>
            </div>
        </div>

        <hr class="">
        <div class="payment-footer-row">
            <div class="product-total__title">Tổng tiền</div>
            <div class="product-total__value">0000000</div>
        </div>
    </div>
    <div class="thank-foot">
        <div routerLink="/" class="button-buy">Tiếp tục mua hàng</div>
    </div>
</div>