<div class="container-fluid">
    <div class="breadcrumb-products">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="http://localhost:4200">Trang chủ</a></li>
            <li class="breadcrumb__item"><a href="javascript:void(0)" routerLink="/term-policy" routerLinkActive="active" class="breadcrumb__link" title="Chính sách điều khoản"><b>Chính sách điều khoản</b></a></li>
        </ul>
    </div>
    <section class="banner-section banner-policy">
        <div class="img-banner-look">
            <img src="https://pubcdn.ivymoda.com/files/news/2023/12/02/bb2bdd4a04fb1200d172f4841ba23110.jpg" alt="banner-dieukhoan" class="banner">
        </div>
    </section>
    <div class="container">
        <div class="page_content">
            <div class="page_header">CHÍNH SÁCH ĐIỀU KHOẢN SỬ DỤNG</div>
            <div class="sub_header">1. LAROSE.COM LÀ WEBSITE CỦA THƯƠNG HIỆU THỜI TRANG LAROSÉ</div>
            <div class="sub_content">
                Larose.com là kênh mua sắm và hỗ trợ đắc lực công tác chăm sóc Khách Hàng của Thương hiệu thời trang Larosé. <br>
                Kể từ khi ra mắt vào cuối năm 2021, Larose.com đã - đang và sẽ không ngừng cải tiến và nâng cấp để ngày một hoàn thiện tính năng, thân thiện nhất với Khách Hàng.
            </div>
            <div class="sub_header">2. CHÍNH SÁCH THẺ THÀNH VIÊN ONLINE</div>
            <div class="sub_header_1">2.1 THẺ BẠC / SILVER</div>
            <div class="sub_header_1">ĐIỀU KIỆN</div>
            <div class="sub_content">
                Khách hàng có tổng giá trị hóa đơn từ: 12.000.000 VNĐ trong 01 năm kể từ ngày bắt đầu sử dụng thẻ Điều kiện gia hạn thẻ: Khách hàng có tổng giá trị mua hàng từ 12.000.000 VNĐ trong 01 năm tiếp theo sử dụng thẻ. <br>
                Điều kiện nâng hạng thẻ VÀNG/GOLD MEMBERSHIP: Khách hàng có tổng giá trị mua hàng từ 23.000.00 VNĐ kể từ ngày đạt hạng thẻ BẠC/SILVER MEMBERSHIP.
            </div>
            <div class="sub_header_2">QUYỀN LỢI</div>
            <div class="sub_content">
                Giảm 10% khi mua hàng tại hệ thống Larosé trong vòng 01 năm kể từ ngày đạt hạng thẻ Nhận quà tặng sinh nhật của khách hàng, kèm theo những chính sách ưu đãi dành riêng cho khách hàng VIP vào các dịp lễ đặc biệt. <br>
                Khách hàng sẽ được nhận thêm các ưu đãi hấp dẫn từ các đối tác của Larosé trong các lĩnh vực: Mỹ Phẩm, Nước hoa, Trang sức, Beauty - Spa, Nhà hàng, Tạp chí…
            </div>
            <div class="sub_header_1">2.2 THẺ VÀNG / GOLD</div>
            <div class="sub_header_1">ĐIỀU KIỆN</div>
            <div class="sub_content">
                Khách hàng có tổng giá trị mua hàng từ 35.000.000 VNĐ trong 01 năm Hoặc Khách hàng có tổng giá trị mua hàng từ: 23.000.000 VNĐ trong vòng 01 năm kể từ ngày đạt hạng thẻ BẠC/SILVER MEMBERSHIP. <br>
                Điều kiện gia hạn thẻ: Khách hàng có tổng giá trị mua hàng từ 35.000.000 VNĐ trong 01 năm tiếp theo sử dụng thẻ. <br>
                Điều kiện nâng hạng thẻ KIM CƯƠNG/DIAMOND MEMBERSHIP: Khách hàng có tổng giá trị mua hàng từ 25.000.000 VNĐ trong 01 năm kể từ ngày đạt hạng thẻ VÀNG/GOLD MEMBERSHIP.
            </div>
            <div class="sub_header_2">QUYỀN LỢI</div>
            <div class="sub_content">
                Giảm 20% khi mua hàng tại hệ thống Larosé trong vòng 01 năm kể từ ngày đạt hạng thẻ. <br>
                Nhận quà tặng sinh nhật của khách hàng, kèm theo những chính sách ưu đãi dành riêng cho khách hàng VIP vào các dịp lễ đặc biệt. <br>
                Khách hàng sẽ được nhận thêm các ưu đãi hấp dẫn từ các đối tác của Larosé trong các lĩnh vực: Mỹ Phẩm, Nước hoa, Trang sức, Beauty – Spa, Nhà hàng, Tạp chí…
            </div>
            <div class="sub_header_1">2.3 ĐIỀU KHOẢN SỬ DỤNG THẺ THÀNH VIÊN ONLINE</div>
            <div class="sub_header_1">ĐIỀU KIỆN</div>
            <div class="sub_content">
                Khách hàng có tổng giá trị mua hàng từ 60.000.000 VNĐ trong 01 năm Hoặc Khách hàng có tổng giá trị mua hàng từ: 25.000.000 VNĐ trong vòng 01 năm kể từ ngày đạt hạng thẻ VÀNG/GOLD MEMBERSHIP. <br>
                Điều kiện gia hạn thẻ: Khách hàng có tổng giá trị mua hàng từ 60.000.000 VNĐ trong 01 năm kể từ ngày đạt hạng thẻ KIM CƯƠNG/DIAMOND MEMBERSHIP.
            </div>
            <div class="sub_header_2">QUYỀN LỢI</div>
            <div class="sub_content">
                Giảm 30% khi mua hàng tại hệ thống Larosé trong vòng 01 năm kể từ ngày đạt hạng thẻ. Ngoài Chiết khấu thẻ, Khách hàng được giảm giá thêm 5% khi mua hàng trong chương trình giảm giá 30%. <br>
                Nhận quà tặng sinh nhật của khách hàng, kèm theo những chính sách ưu đãi dành riêng cho khách hàng VIP vào các dịp lễ đặc biệt. <br>
                Khách hàng sẽ được nhận thêm các ưu đãi hấp dẫn từ các đối tác của Larosé trong các lĩnh vực: Mỹ Phẩm, Nước hoa, Trang sức, Beauty - Spa, Nhà hàng, Tạp chí…
            </div>
            <div class="sub_header">3. ĐIỀU KHOẢN SỬ DỤNG THẺ THÀNH VIÊN ONLINE</div>
            <div class="sub_content">
                Thẻ có giá trị duy nhất đối với chủ thẻ. Không được phép sang nhượng hay cho mượn thẻ dưới mọi hình thức. <br>
                Vui lòng xuất trình thẻ khi thanh toán để tích lũy điểm và áp dụng chiết khấu của thẻ. <br>
                Chiết khấu thẻ chỉ được áp dụng với hàng nguyên giá. <br>
                Điểm tích lũy của chủ thẻ (tương ứng với giá trị mua hàng) sẽ được quy đổi thành các phần quà có giá trị, duy trì và nâng hạng thẻ. <br>
                Thẻ có giá trị sử dụng trong vòng 01 năm kể từ ngày đăng ký, đạt hạng thẻ, gia hạn hoặc nâng hạng thẻ. <br>
                Thẻ được áp được áp dụng cho tất cả hình thức mua hàng tại cửa hàng và mua hàng online, không bao gồm các đại lý. <br>
                Thẻ này do Larosé phát hành và là tài sản của Larosé. Larosé có quyền từ chối sử dụng, tạm khóa, đình chỉ thẻ trong một số trường hợp mà không cần báo trước tới khách hàng. Việc Khách Hàng truy cập hoặc thực hiện giao dịch trên Website: larose.com và Ứng dụng di động của Larosé được hiểu là Khách Hàng đã đọc, hiểu và đồng ý tuân thủ Chính Sách và Điều khoản sử dụng thẻ thành viên (”Chính sách và Điều khoản“), kể cả các phiên bản sửa đổi, bổ sung của Chính Sách và Điều khoản. Phiên bản sửa đổi, bổ sung Chính Sách và Điều khoản này (nếu có) sẽ có hiệu lực ngay khi được cập nhật chính thức trên Website và Ứng dụng và không cần phải thông báo trước, khi Khách Hàng truy cập và thực hiện giao dịch với Larosé sau khi thay đổi Chính sách và Điều Khoản mới có hiệu lực, có nghĩa là Khách Hàng chấp nhận với những thay đổi đó. Một lần nữa, Larosé lưu ý: Khách Hàng vui lòng cập nhật thường xuyên hoặc đọc kỹ lại Chính sách và Điều khoản trước khi thực hiện giao dịch.
            </div>
            <div class="sub_header">4. CHÍNH SÁCH BẢO MẬT VÀ CHIA SẺ THÔNG TIN</div>
            <div class="sub_header_1">4.1. MỤC ĐÍCH ÁP DỤNG</div>
            <div class="sub_content">
                Khi Khách Hàng thực hiện giao dịch và/hoặc đăng ký mở tài khoản tại Website và Ứng dụng, tùy từng thời điểm, Khách Hàng phải cung cấp một số thông tin cần thiết cho việc thực hiện giao dịch và/hoặc đăng ký tài khoản (“Thông Tin Khách Hàng”). <br>
                Khách Hàng có trách nhiệm đảm bảo những thông tin Khách Hàng cung cấp là đầy đủ và chính xác và luôn cập nhật thông tin để đảm bảo tính đầy đủ và chính xác. Larosé không chịu trách nhiệm giải quyết bất kỳ tranh chấp nào nếu thông tin Khách Hàng cung cấp không chính xác hoặc không được cập nhật hoặc giả mạo.
            </div>
            <div class="sub_header_1">4.2. PHẠM VI ÁP DỤNG</div>
            <div class="sub_header_3">4.2.1. Về việc lưu giữ và bảo mật thông tin riêng</div>
            <div class="sub_content">
                Thông Tin Khách Hàng, cũng như các thông tin trao đổi giữa Khách Hàng và Larosé, đều được lưu giữ và bảo mật bởi hệ thống của Larosé, riêng thông tin thẻ thanh toán của Khách Hàng sẽ do các đối tác Cổng thanh toán của IVY moda bảo mật theo tiêu chuẩn quốc tế. <br>
                Larosé có các biện pháp thích hợp về kỹ thuật và an ninh để ngăn chặn việc truy cập, sử dụng trái phép Thông Tin Khách Hàng. Larosé cũng thường xuyên phối hợp với các chuyên gia bảo mật nhằm cập nhật những thông tin mới nhất về an ninh mạng để đảm bảo sự an toàn cho Thông Tin Khách Hàng khi Khách Hàng truy cập, đăng ký mở tài khoản, sử dụng các tính năng của Website và Ứng dụng. Khi thu thập dữ liệu, Larosé thực hiện lưu giữ và bảo mật Thông Tin Khách Hàng tại hệ thống máy chủ và các Thông Tin Khách Hàng này được bảo đảm an toàn bằng các hệ thống tường lửa (firewall), các biện pháp kiểm soát truy cập, mã hóa dữ liệu. <br>
                Các thông tin thẻ thanh toán của Khách Hàng được các đối tác cổng thanh toán của Larosé bảo vệ theo tiêu chuẩn quốc tế. Larosé không cho phép các bên thứ ba theo dõi hoặc thu thập thông tin của Khách Hàng trên Website và Ứng dụng của Larosé. <br>
                Đối với các tài khoản đã đóng chúng tôi vẫn lưu trữ Thông Tin Cá Nhân và truy cập của Khách Hàng để phục vụ cho các mục đích phòng chống gian lận, điều tra, giải đáp thắc mắc… <br>
                Khách Hàng tuyệt đối không được có bất kỳ hành vi sử dụng công cụ, chương trình để can thiệp trái phép vào hệ thống hay làm thay đổi cấu trúc dữ liệu của Larosé, cũng như bất kỳ hành vi nào khác nhằm phát tán, cổ vũ cho các hoạt động với mục đích can thiệp, phá hoại hay xâm nhập vào dữ liệu của hệ thống Larosé, cũng như các các hành vi mà pháp luật Việt Nam nghiêm cấm. Trong trường hợp Larosé phát hiện Khách Hàng có hành vi cố tình giả mạo, gian lận, phát tán các thông tin trái phép,…Larosé có quyền chuyển Thông Tin Cá Nhân của Khách Hàng cho các cơ quan có thẩm quyền để xử lý theo quy định pháp luật.
            </div>
            <div class="sub_header_3">4.2.2. Về việc sử dụng Thông Tin Khách Hàng</div>
            <div class="sub_content">
                Larosé có quyền sử dụng các thông tin Khách Hàng cung cấp, bao gồm nhưng không giới hạn ở Thông Tin Khách Hàng để: <br>
                Cung cấp các dịch vụ/tiện ích cho Khách Hàng dựa trên nhu cầu và các thói quen của Khách Hàng khi truy cập vào Website và Ứng dụng; <br>
                Gửi các thông báo, trao đổi thông tin giữa Khách Hàng với Larosé qua Website và Ứng dụng, hoặc ngược lại; <br>
                Phát hiện, ngăn chặn các hoạt động giả mạo, phá hoại tài khoản của Khách Hàng hoặc các hoạt động giả mạo nhận dạng của Khách Hàng trên Website và Ứng dụng; <br>
                Liên lạc, hỗ trợ liên lạc và giải quyết với Khách Hàng trong những trường hợp đặc biệt.
            </div>
            <div class="sub_header_3">4.2.3. Về việc liên kết với các website khác</div>
            <div class="sub_content">
                Khách Hàng có trách nhiệm bảo vệ thông tin tài khoản của mình và không cung cấp bất kỳ thông tin nào liên quan đến tài khoản và mật khẩu truy cập trên Website và Ứng dụng của Larosé trên các website khác ngoại trừ khi đăng nhập vào địa chỉ chính thức của Larosé tại larose.com và Ứng dụng di dộng Larosé; <br>
                Cung cấp các dịch vụ/tiện ích cho Khách Hàng dựa trên nhu cầu và các thói quen của Khách Hàng khi truy cập vào Website và Ứng dụng; <br>
                Ngoài các trường hợp nêu trên, Larosé sẽ có thông báo cụ thể cho Khách Hàng khi phải tiết lộ Thông Tin Khách Hàng cho một bên thứ ba. Trong trường hợp này, Larosé cam kết sẽ chỉ tiết lộ Thông Tin Khách Hàng khi được sự đồng ý của Khách Hàng; <br>
                Larosé có thể chia sẻ Thông Tin Khách Hàng cho các mục đích sau:- Nghiên cứu thị trường và các báo cáo phân tích: Larosé có thể dùng Thông Tin Khách Hàng để nghiên cứu thị trường, tổng hợp, phân tích thông tin chung của Khách Hàng (ví dụ: độ tuổi trung bình, khu vực địa lý…), thông tin chi tiết sẽ được ẩn và chỉ được dùng để phục vụ công việc thống kê. Trong trường hợp Larosé tiến hành khảo sát cần sự tham gia của Khách Hàng, bất kỳ câu trả lời cho khảo sát hoặc thăm dò dư luận mà Khách Hàng cung cấp cho Larosé sẽ không được chuyển cho bất kỳ bên thứ ba nào;- Trao đổi Thông Tin Khách Hàng với các bên thứ ba là đối tác, đại lý của Larosé: Larosé có thể chuyển Thông Tin Khách Hàng cho các đại lý và nhà thầu phụ để làm phân tích dữ liệu, tiếp thị và hỗ trợ dịch vụ khách hàng. Larosé cũng có thể trao đổi Thông Tin Khách Hàng với bên thứ ba cho mục đích chống gian lận và giảm rủi ro tín dụng.
            </div>
            <div class="sub_header_3">4.2.4. Sử dụng Cookie</div>
            <div class="sub_content">
                Larosé cung cấp các tập tin cookie hoặc các công nghệ tương tự, nhằm thu thập các thông tin như: lịch sử truy cập, các lựa chọn của Khách Hàng khi truy cập và sử dụng tính năng của Website và Ứng dụng... nhằm tăng trải nghiệm bảo mật và giúp Larosé hiểu rõ nhu cầu, sở thích của Khách Hàng để có thể cung cấp dịch vụ tốt hơn.
            </div>
            <div class="sub_header_3">4.2.5. Liên hệ, giải đáp thắc mắc</div>
            <div class="sub_content">
                Bất kỳ khi nào Khách Hàng cần hỗ trợ, hãy gọi đến số hotline của Larosé: 0345 678 90  hoặc gửi email đến địa chỉ: cskh&#64;larose.com.vn
            </div>
        </div>
    </div>
</div>
