<div class="modal-header">
    <span class="close" (click)="closeDialog()" style="margin-left: auto; width: 40px; font-size: 30px; padding-top: 20px">&times;</span>
  </div>
  <form [formGroup]="forgotPasswordForm">
    <div mat-dialog-content class="modal-content">
      <p class="text_head">Cấp lại mật khẩu</p>
      <p>Vui lòng nhập lại email đã đăng ký, hệ thống của chúng tôi sẽ gửi cho bạn 1 đường dẫn để thay đổi mật khẩu.</p>
      <mat-form-field>
        <input matInput formControlName="cus_email" placeholder="Nhập email của bạn" class="input-email" style="width: 100%;">
      </mat-form-field>
      <!-- Hiển thị thông báo lỗi cho email -->
      <div *ngIf="canOpenModal" class="error-message">
        * Vui lòng nhập đúng định dạng email.
      </div>
    </div>    
    <div mat-dialog-actions>
      <button mat-button (click)="openSuccessModal()" class="btn-primary" style="color: white;" cdkFocusInitial>Kiểm tra</button>
    </div>
    
  </form>
  