<div class="modal-header">
  <span class="close" (click)="closeDialog()" style="margin-left: auto; width: 40px; font-size: 30px; padding-top: 20px">&times;</span>
</div>

<form [formGroup]="forgotPasswordForm" (ngSubmit)="forGotPwProcess()">
  <div mat-dialog-content class="modal-content">
    <p class="text_head">Cấp lại mật khẩu</p>
    <p>Vui lòng nhập lại email đã đăng ký, hệ thống của chúng tôi sẽ gửi cho bạn 1 đường dẫn để thay đổi mật khẩu.</p>
    <!-- Alert for success -->
    <div *ngIf="infoResult && infoResult.success" class="alert alert-success" style="text-align: left">
      {{ infoResult.message }}
    </div>

    <!-- Alert for error -->
    <div *ngIf="infoResult && !infoResult.success" class="alert alert-danger" style="text-align: left">
      {{ infoResult.message }} Email không được tìm thấy
    </div>

    <mat-form-field style="width: 100%;">
      <input matInput formControlName="cus_email" placeholder="Nhập email của bạn" class="input-email">
    </mat-form-field>

    <div *ngIf="forgotPasswordForm.get('cus_email')?.hasError('email') && forgotPasswordForm.get('cus_email')?.touched" class="alert alert-danger" style="text-align: left">
      Email không đúng định dạng
    </div>

    <div mat-dialog-actions>
      <button [disabled]="!forgotPasswordForm.valid" class="btn-primary" style="color: white;" cdkFocusInitial>Kiểm tra</button>
    </div>
  </div>
</form>
