<main id="main" class="site-man">
  <div class="container">
    <section class="location">
      <div class="main-location">
        <a href="">Trang chủ /
          <span style="font-weight: 700;"><a href=""> Phân loại</a></span>
        </a>
      </div>
    </section>

    <section class="main-content">
      <div class="filter__left">
        <!-- <div *ngIf="listColor"> -->
        <div class="filter-setting__tit">Màu sắc</div>
        <div class="filter-setting__content">
          <ul class="filter-setting__list-color">
            <li class="color-item" *ngFor="let color of listColor">
              <a class="color-item__button" (click)="toggleActive(color)"
                [ngClass]="{'active': selectedColors.includes(color)}">
                <img src="http://localhost:3000/colorImages/{{ color.imageColor }}" />
              </a>
            </li>
          </ul>

          <!-- </div> -->
        </div>
        <div class="filter-setting__content">
          <div class="filter-setting__tit">Kích cỡ</div>
          <ul class="filter-setting__list-color">
            <li class="filter-size-item" *ngFor="let size of sizes; let i = index">
              <div class="filter-select-size__button" [ngClass]="{'btn-active': isActive[i]}"
                (click)="toggleSizeActive(i)">
                <span>{{ size }}</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="filter-setting__content">
          <div class="filter-setting__tit">Mức giá</div>
          <div class="sub-list-side">
            <div id="slider-range">
              <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
            </div>
          </div>
        </div>
      </div>
      <div class="filter__right">
        <div class="classify__fiter">
          <div class="title__filter">Quần & Jumpsuit</div>
          <mat-form-field>
            <mat-label>Phân loại</mat-label>
            <mat-select [(value)]="selectedValue" (selectionChange)="onSortingChange($event)">
              <mat-option value="latest">Mới nhất</mat-option>
              <mat-option value="two">Bán chạy</mat-option>
              <mat-option value="asc">Giá thấp đến giá cao</mat-option>
              <mat-option value="desc">Giá cao đến giá thấp</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="home-new-prod">
          <div class="exclusive-tabs">
            <div class="exclusive-head">
            </div>
            <div class="exclusive-content">
              <div class="exclusive-inner active">
                <div *ngFor="let product of productsHaveModified, index as productIndex" id="thumbProduct">
                  <div class="owl-stage stage-detail">
                    <div class="owl-item">
                      <div class="item-new-prod">
                        <div class="product">
                          <div class="info-tag best-seller">Best Seller</div>
                          <span class="percent percent_02">-50%
                          </span>
                          <div class="thumb-product">
                            <a href="/product/product-detail/{{product.slug}}">
                              <img id="ao"
                                src="http://localhost:3000/productImages/{{product.imgHomePage[0].images[0]}}" alt=""
                                class=" static">
                              <img id="ao2"
                                src="http://localhost:3000/productImages/{{product.imgHomePage[0].images[1]}}" alt=""
                                class=" hover_img">
                            </a>
                          </div>
                          <div class="info-product">
                            <div class="list-color">
                              <ul class="colors">
                                <li *ngFor="let v of product.variants; index as colorI"
                                  [ngClass]="{'color': true, 'color-active': colorI === selectedColorIndex[productIndex]}">
                                  <a href="javascript:void(0)" class="color-picked" data-id="{{ v._id }}"
                                    (click)="changeColor(product, v.color._id); updateSelectedColorIndex(productIndex, colorI)"
                                    [ngClass]="{'active-color': colorI === 0}">
                                    <img src="http://localhost:3000/colorImages/{{v.color.imageColor}}" alt="">
                                  </a>
                                </li>


                              </ul>

                              <div class="favorite">
                                <i class="ti-heart">
                                </i>
                              </div>
                            </div>
                            <div class="title-product">
                              <a href="">{{product.title}}</a>
                            </div>
                            <div class="price-product">
                              <ins>
                                <h4>{{formatMoneyVietNam(product.price)}}</h4>
                              </ins>
                              <del>
                                <span>1.790.000đ</span>
                              </del>
                            </div>
                          </div>
                          <div class="add-to-cart">
                            <a href="javascript:void(0)#" class="js-cart-button"
                              (click)="toggleSizeTable(productIndex)">
                              <i class="ti-shopping-cart"></i>
                            </a>
                          </div>
                          <div id="sizeTable{{productIndex}}" class="sizeTable js-list-size">
                            <ul>
                              <li *ngFor="let vc of product.imgHomePage[0].variantColor"
                                [class.disabled]="vc.quantity === 0"
                                (click)="vc.quantity !== 0 && popupContainer && addActiveCartPopupClass()">
                                <button class="btn bt-large" [disabled]="vc.quantity === 0"
                                  (click)="vc.quantity !== 0 && addToCart(product.imgHomePage[0].colorID, product._id, vc.size, 1)">
                                  <ng-container *ngIf="vc.quantity !== 0; else noQuantity">{{ vc.size }}</ng-container>
                                  <ng-template #noQuantity><del>{{ vc.size }}</del></ng-template>
                                </button>
                              </li>

                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collection-section-loadmore">
                <a class="collection-section-loadmore__btn btn" (click)="viewMore()" *ngIf="totalProduct>(productsPerPage*currentPage)">Xem thêm</a>
                <p class="collection-section-loadmore__page">
                  Hiển thị
                  <span>1</span>
                  -
                  <span class="loadmore-total">{{totalProduct>(productsPerPage*currentPage) ?(productsPerPage*currentPage):totalProduct}}</span>
                  trên tổng số
                  <span class="total-products">{{totalProduct}}</span>
                  sản phẩm
                </p>
              </div>
            </div>
          </div>
          <div class="popup-container" #popupContainer>
            <div class="popup">
              <div class="hed-pop-not">
                <div class="tit___hed-pop-not">Đã thêm vào giỏ hàng!</div>
                <i class="close-icon ti-close"></i>
              </div>
              <div class="notify_wrapper">
                <div class="notify__content">
                  <div class="notify__message"></div>
                  <div class="notify__product">
                    <div class="notify-product">
                      <div class="notify-product__thumbnail">
                        <img src="https://static.dchic.vn/uploads/media/2023/12/DTT_0884-93723949-576x768.JPG" alt="">
                      </div>
                      <div class="notify-product__content">
                        <div class="notify-product__title">Quần Kaki Excool dáng Straight</div>
                        <div class="notify-product__option">Xám/M</div>
                        <div class="notify-product__prices">
                          <ins>499.000đ</ins>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>