/* tbody {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.84px;
} */
/* html,body{
    font-family: Montserrat
} */
.order-header{
    font-size: 28px;
    /* padding-top: 20px; */
    font-weight: 700;
    letter-spacing: 1.92px;
}
@media (max-width: 767px) {
    .order-header {
        font-size: 14px; /* Điều chỉnh kích thước văn bản cho màn hình điện thoại */
    }
}
.status {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-align: left;
}

.selection {
    width: 221px;
    height: 35px;
    padding: 10px;
    border-radius: 14px;
    background-color: rgba(241, 241, 241, 1);

}

.table {
    margin-top: 50px;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.84px;
}

table.dataTable tbody tr {
    margin-top: 22px;
  }

