
    <div class="row mb-2 ">
        <div class="col-sm-8 col order-header text-uppercase align-self-center mb-2 text-xs">
            quản lý đơn hàng
        </div>
        <div class="col-sm-4 col status">
            <div class="mb-1 "> <label for="">Trạng thái đơn hàng</label></div>
            <div>
                <select class="selection" name="" id="">
                    <option value="">Tất cả</option>
                    <option value="">Đang chờ xử lý</option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>
    <hr style="background: #CCC;">
    <div class="table-responsive table-responsive-sm">
      <table class="table responsive table-striped table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="dataTable">

        <thead>
          <tr>
            <th scope="col">Mã đơn</th>
            <th scope="col">Ngày</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Sản phẩm</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col">Hành động </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <th scope="row">{{ order.id }}</th>
            <td>{{ order.date }}</td>
            <td>{{ order.status }}</td>
            <td>
              <div *ngFor="let product of order.products">{{ product }}</div>
            </td>
            <td>{{ order.total }}</td>
            <td><button>Mua lại</button></td>
          </tr>
        </tbody>
      </table>
    </div>
