<div class="container text-center cart-container">
  <div class="header">
    <h3 class="row main-title">
      <div class="col">Giỏ hàng</div>
    </h3>
    <div class="container"*ngIf="!showNocart">
      <div class="row cart-title">
        <div class="col-1 d-flex align-items-center justify-content-center">
          <input type="checkbox" id="checkAll" onclick="checkAll(this);" />
        </div>
        <div class="col-sm-auto col-2">
          <label for="checkAll text-center">Chọn tất cả</label>
        </div>
        <p class="col text-end">GIÁ</p>
      </div>
    </div>
  </div>
  <hr class="col-12 gy-4" *ngIf="!showNocart"/>
  <div class="container cart-body" *ngIf="!showNocart">
    <div class="cart-list" *ngFor="let pCode of productsCart">
      <div class="cart-list__variant" *ngFor="let v of pCode.variants">
        <div class="cart-list__varriantColor" *ngFor="let vc of v.variantColor">
          <div class="row cart-item__all">
            <div class="col-1 d-flex align-items-center justify-content-center">
              <input type="checkbox" name="cartItem" class="checkboxProduct" />
            </div>
            <div class="col-3 col-sm-auto">
              <img src="http://localhost:3000/userImages/{{ v.images[0] }}" alt="" class="img-fluid"
                style="max-width: 100%" />
            </div>
            <div class="col d-flex flex-column justify-content-between cart-item__detail">
              <div class="cart-item__voucher-small">
                <div class="col d-flex align-items-center justify-content-between">
                  <div class="voucher-icon p-2">
                    <i class="fa fa-gift"></i>
                  </div>
                  <div class="voucher-title p-2">Mua 1 tặng 1</div>
                </div>
              </div>
              <div class="cart-item__title text-start">
                <div class="col">{{ pCode.productId.title }}</div>
              </div>
              <div class="row cart-item__action pt-2 row-gap-2 ms-0">
                <div class="col-5 col-sm-auto select-color">
                  <select name="color" (change)="onColorChange($event,v.color, pCode.productId._id, vc.size, vc.quantity)" >
                    <option *ngFor="let v_default of pCode.productId.variants" [value]="v_default.color._id"
                      [attr.selected]="v_default.color._id === v.color ? true : null">
                      {{ v_default.color.nameColor }}
                    </option>
                  </select>
                </div>

                <div class="col-auto select-size">
                  <select name="size" (change)="onSizeChange($event,v.color, pCode.productId._id, vc.size, vc.quantity)">
                    <option *ngFor="
                          let vc_default of pCode.productId.variants[0].variantColor
                        " [value]="vc_default.size" [attr.selected]="vc_default.size === vc.size ? true : null">
                      {{ vc_default.size }}
                    </option>
                  </select>
                </div>
                <div class="col-auto cart-item__action--quantity">
                  <input class="stockP" type="hidden" value="10" />
                  <button class="col dec" (click)="changeQuantity(v.color, pCode.productId._id, vc.size, -1)">
                    -
                  </button>
                  <input type=" col text" value="{{ vc.quantity }}" class="qtyItem" readonly />
                  <button class="col inc" (click)="changeQuantity(v.color, pCode.productId._id, vc.size, 1)">
                    +
                  </button>
                </div>
                <div class="col-auto cart-item__price">
                  <input class="discount-hide" type="hidden" value="20" />
                  <input class="origin-price__hide" type="hidden" value="100" />
                  <div class="sale-price">{{ (pCode.productId.price * vc.quantity) | number:'1.3-3' }}đ</div>
                  <div class="origin-price">{{ (pCode.productId.price * vc.quantity) | number:'1.3-3' }}đ</div>
                </div>
              </div>
              <!-- </div> -->

              <p></p>
              <p></p>
              <div class="row cart-item__undesired d-flex justify-content-between">
                <div class="col-sm-9 col-10 text-start undesired-notified">
                  Sản phẩm hết hàng!
                </div>
                <!-- Cột 2 trong dòng 3 -->
                <div class="col-sm-3 col-2 text-end undesired-deleteP">
                  <i class="far fa-trash-alt" (click)="changeQuantity(v.color, pCode.productId._id, vc.size, 0)"></i>
                </div>
              </div>
            </div>

            <!-- Cột 4 -->
          </div>
          <hr class="col-12 gy-4" />
        </div>
      </div>
    </div>

    <nav class="row voucher">
      <ul class="voucher-list">
        <li class="voucher-item">
          <div class="overlay">Voucher không phù hợp!!</div>
          <div class="voucher-item__div">
            <div class="cart-voucher__item">
              <div class="trans">
                <div class="trans1 non-active_voucher"></div>
                <div class="trans2"></div>
              </div>
              <div class="cart-voucher__item">
                <div class="voucher-item__left">
                  <div class="white non-active_voucher"></div>
                  <div class="red"></div>
                </div>
                <div class="voucher-item__right non-active_voucher">
                  <div class="voucher-item__title">
                    <span class="voucher-item__ID">NTN22</span>
                    <span class="voucher-item__stock">(Còn 1)</span>
                  </div>
                  <div class="voucher-item__description text-start">
                    Giảm
                    <span class="voucher-item__discount">15.000đ</span> cho
                    đơn hàng <span class="price-mark">200.000đ</span>(Dành cho
                    khách hàng CoolClub)
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="voucher-item">
          <div class="overlay">Voucher không phù hợp!!</div>

          <div class="voucher-item__div">
            <div class="cart-voucher__item">
              <div class="trans">
                <div class="trans1 non-active_voucher"></div>
                <div class="trans2"></div>
              </div>
              <div class="cart-voucher__item">
                <div class="voucher-item__left">
                  <div class="white non-active_voucher"></div>
                  <div class="red"></div>
                </div>
                <div class="voucher-item__right non-active_voucher">
                  <div class="voucher-item__title">
                    <span class="voucher-item__ID">NTN232</span>
                    <span class="voucher-item__stock">(Còn 1)</span>
                  </div>
                  <div class="voucher-item__description text-start">
                    Giảm
                    <span class="voucher-item__discount">150.000đ</span> cho
                    đơn hàng <span class="price-mark">2.500.000đ</span>(Dành
                    cho khách hàng CoolClub)
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="voucher-item">
          <div class="overlay">Voucher không phù hợp!!</div>

          <div class="voucher-item__div">
            <div class="cart-voucher__item">
              <div class="trans">
                <div class="trans1 non-active_voucher"></div>
                <div class="trans2"></div>
              </div>
              <div class="cart-voucher__item">
                <div class="voucher-item__left">
                  <div class="white non-active_voucher"></div>
                  <div class="red"></div>
                </div>
                <div class="voucher-item__right non-active_voucher">
                  <div class="voucher-item__title">
                    <span class="voucher-item__ID">NTN25</span>
                    <span class="voucher-item__stock">(Còn 25)</span>
                  </div>
                  <div class="voucher-item__description text-start">
                    Giảm
                    <span class="voucher-item__discount">10.000đ</span> cho
                    đơn hàng <span class="price-mark">254000</span>(Dành cho
                    khách hàng CoolClub)
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </nav>
    <div class="voucher-info__extra text-start">
      <p class="voucher-info__card">
        * Mua thêm <span class="voucher-info__add-more"> </span> để áp dụng mã
        giảm giá <span class="voucher-info__cardID"> COOLCLUB10</span>
      </p>
      <p>
        * Mua thêm <span class="add-more__freeship">100đ</span> để được miễn
        phí vận chuyển
      </p>
    </div>
    <div class="row"></div>
    <hr class="col-12" />
  </div>

  <div class="container cart-footer" *ngIf="!showNocart">
    <div class="total-product">
      <div class="total-product__title">Tổng sản phẩm</div>
      <div class="total-product__value">{{formatMoneyVietNam(total_quantity)}}</div>
    </div>
    <div class="estimated-cost">
      <div class="estimated-cost__title">Tạm tính</div>
      <div class="estimated-cost__value">
        <div class="total-after__discount">{{formatMoneyVietNam(total_payment)}}</div>
        <div class="total-discount">
          (Tiết kiệm <span class="total-discount__value">0</span>)
        </div>
      </div>
    </div>
    <div class="product-gift">
      <div class="product-gift__title">Voucher kèm theo</div>
      <div class="product-gift__value red">0</div>
    </div>
    <div class="product-ship">
      <div class="product-ship__title">Phí vận chuyển</div>
      <div class="product-ship__value">{{formatMoneyVietNam(ship_code)}}</div>
    </div>
    <div class="row">
      <hr class="col-12 p-0 m-0" />
    </div>
    <div class="product-gift">
      <div class="product-total__title">Tổng</div>
      <div class="product-total__value">{{formatMoneyVietNam(total_payment-ship_code)}}</div>
    </div>
    <div class="btn-submit">
      <button>Mua ngay</button>
    </div>
  </div>
  <div class="no-cart" *ngIf="showNocart">
    <div class="no-cart__info">
      <img src="http://localhost:3000/cart/img-no-cart.png" alt="">
      <div>Giỏ hàng của bạn đang trống</div>
      <div>Hãy chọn thêm sản phẩm để mua sắp nhé</div>
    </div>
    <div class="btn-submit btn-submit__returnHomepage ">
      <button>Quay về trang chủ</button>
    </div>
  </div>
</div>