
<div class="container-forgotpw">
    <div class="container">
        <div class="frame" >
            <h1>Đổi mật khẩu</h1>
            <form [formGroup]="forgotPasswordSuccessForm"> 
                <div class="row">

                    <mat-form-field>
                        <input matInput formControlName="cus_new_pass" placeholder="Mật khẩu...">
                      </mat-form-field>
                </div>   
                  <div class="row">

                      <mat-form-field>
                        <input matInput formControlName="re_cus_new_pass" placeholder="Nhập lại mật khẩu...">
                      </mat-form-field>
                  </div>
                  
                        <!-- Hiển thị thông báo lỗi cụ thể -->
                <div *ngIf="passwordMismatchError" class="error-message">
                          {{ passwordMismatchError }}
                </div>
                <div class="row">
                    
                    <button class="btn-reset" cdkFocusInitial (click)="resetPassword()">Đặt lại mật khẩu</button>
                </div>

            </form>
        </div>
    </div>

      
</div>
