<div class="col-md-9 col-sm-12 col-xl">
    <div class="row">
        <div class="col-md-8">
            <h2>QUẢN LÝ ĐƠN HÀNG</h2>
        </div>
        <div class="col-md-4 col status">
            <div> <label for="">Trạng thái đơn hàng</label></div>
            <div>
                <select class="selection" name="" id="">
                    <option value="">Tất cả</option>
                    <option value="">Đang chờ xử lý</option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>

    <div class="table-responsive table-responsive-sm">
        <table class="table table-hover ">
            <thead>
              <tr>
                <th scope="col">Mã đơn</th>
                <th scope="col">Ngày</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Sản phẩm</th>
                <th scope="col">Tổng tiền</th>
                <th scope="col">Hành động </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">00001</th>
                <td>19/12/2023 19:32:42</td>
                <td>Đặt hàng thành công</td>
                <td>1x Đầm phối đai phụ kiện, Tím nhạt
                    <br>1x Đầm phối đai phụ kiện, Tím nhạt</td>
                <td>2,930,000 ₫</td>
                <td><button>Mua lại</button></td>
              </tr>
              <tr>
                <th scope="row">00001</th>
                <td>19/12/2023 19:32:42</td>
                <td>Đặt hàng thành công</td>
                <td>1x Đầm phối đai phụ kiện, Tím nhạt
                    <br>1x Đầm phối đai phụ kiện, Tím nhạt</td>
                <td>2,930,000 ₫</td>
              </tr>
              <tr>
                <th scope="row">00001</th>
                <td>19/12/2023 19:32:42</td>
                <td>Đặt hàng thành công</td>
                <td>1x Đầm phối đai phụ kiện, Tím nhạt
                    <br>1x Đầm phối đai phụ kiện, Tím nhạt</td>
                <td>2,930,000 ₫</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>