<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <div id="footer">
        <div class="container">
            <div class="row top-footer">
                <div class="col l8">
                    <div class="row">
                        <div class="col l4">
                            <div class="top-footer-left d-flex">
                                <img src="../assets/icon/footer/ic_baseline-email.svg" alt="">
                                <div class="top-footer_left__content d-flex">
                                    <div class="top-footer_left__tit">Email hỗ trợ</div>
                                    <div class="top-footer_left__nor">cskh&#64;larose.com.vn</div>
                                </div>
                            </div>
                        </div>
                        <div class="col l4">
                            <div class="top-footer-left d-flex">
                                <img src="../assets/icon/footer/fluent_call-20-filled.svg" alt="">
                                <div class="top-footer_left__content d-flex">
                                    <div class="top-footer_left__tit">Hotline</div>
                                    <div class="top-footer_left__nor">08147758883, 08100591556</div>
                                </div>
                            </div>
                        </div>
                        <div class="col l4">
                            <div class="top-footer-left d-flex">
                                <img src="../assets/icon/footer/ri_whatsapp-fill.svg" alt="">
                                <div class="top-footer_left__content d-flex">
                                    <div class="top-footer_left__tit">Số doanh nghiệp</div>
                                    <div class="top-footer_left__nor">08147758883</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col l4">
                    <div class="row">
                        <div class="col l6">
                            <p>jane123</p>
                        </div>
                        <div class="col l6">
                            <p>Submit</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mid-footer">
                <div class="col l3">
                    <div class="mid-footer_left__content d-flex">
                        <div class="mid-footer_left__tit">Giới thiệu</div>
                        <div class="mid-footer_left__nor">Về Larosé</div>
                        <div class="mid-footer_left__nor">Tin tức</div>
                    </div>
                </div>
                <div class="col l3">
                    <div class="mid-footer_left__content d-flex">
                        <div class="mid-footer_left__tit">Dịch vụ khách hàng</div>
                        <div class="mid-footer_left__nor">Chính sách mua hàng</div>
                        <div class="mid-footer_left__nor">Chính sách thành viên</div>
                        <div class="mid-footer_left__nor">Q&A</div>
                    </div>
                </div>
                <div class="col l3">
                    <div class="mid-footer_left__content d-flex">
                        <div class="mid-footer_left__tit">Địa chỉ mua sắm</div>
                        <div class="mid-footer_left__nor">Văn phòng Hà Nội: Tầng 3-4, 
                            Tòa nhà BMM, KM2, Đường Phùng Hưng, 
                            Phường Phúc La, Quận Hà Đông, TP Hà Nội</div>
                        <div class="mid-footer_left__nor">Văn phòng Tp HCM: Lầu 1, Số 163 Trần Trọng Cung,
                            Phường Tân Thuận Đông, Quận 7, Tp. Hồ Chí Minh</div>
                    </div>
                </div>
                <div class="col l3">
                    <div class="mid-footer_left__content d-flex">
                        <div class="mid-footer_left__tit">Ghé thăm Larosé nè bạn ơi!</div>
                        <ul class="mid-footer_left__social">
                            <li><img src="../assets/icon/footer/fb.svg" alt=""></li>
                            <li><img src="../assets/icon/footer/ig.svg" alt=""></li>
                            <li><img src="../assets/icon/footer/tiktok.svg" alt="" style="padding: 8px; background-color:#C54C3D; border-radius: 35px"></li>
                            <li><img src="../assets/icon/footer/tw.svg" alt=""></li>
                        </ul>
                    </div>
                </div>        
            </div>
            <div class="row bot-footer">
                <div class="col"></div>
            </div>
        </div>
    </div>
</body>
</html>