<footer class="footer">
    <div class="container">
        <div class="main-footer d-flex">
            <div class="left-footer">
                <div class="top-left">
                    <div class="logo_ivymoda">
                        <a href="">
                            <img src="./asset/img/logo-footer.png" alt="">
                        </a>
                    </div>
                    <div class="logo_DMCA">
                        <a href="">
                            <img src="./asset/img/DMCA.com_Protection_Status.png" alt="">
                        </a>
                    </div>
                    <div class="logo_BCT">
                        <a href="">
                            <img src="./asset/img/img-congthuong.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="content-left">
                    <div class="info-left">
                        <p>Công ty Cổ phần Dự Kim với số đăng ký kinh doanh: 0105777650</p>
                        <p>
                            <strong>Địa chỉ đăng ký: </strong>
                            Tổ dân phố Tháp, P.Đại Mỗ, Q.Nam Từ Liêm, TP.Hà Nội, Việt Nam
                        </p>
                        <p>
                            <strong>Số điện thoại: </strong>
                            0243 205 2222/ 090 589 8683
                        </p>
                        <p>
                            <strong>Email: </strong>
                            cskhivy.com.vn
                        </p>
                    </div>
                    <ul class="list-social">
                        <li>
                            <a href="">
                                <img src="./asset/img/ic_fb.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="./asset/img/ic_gg.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="./asset/img/ic_instagram.svg" alt="" style="height: 30px;">
                            </a>
                        </li>
                    </ul>
                    <div class="hotline">
                        <a href="tel:9999999">Hotline: 0246 662 3434</a>
                    </div>
                </div>
            </div>
            <div class="center-footer d-flex">
                <div class="left-center style-center">
                    <p class="title-footer">Giới thiệu</p>
                    <ul>
                        <li>
                            <a href="">Về IVY moda</a>
                        </li>
                        <li>
                            <a href="">Tuyển dụng</a>
                        </li>
                        <li>
                            <a href="">Hệ thống cửa hàng</a>
                        </li>
                    </ul>
                </div>
                <div class="main-center style-center">
                    <p class="title-footer">Chính sách điều khoản</p>
                    <ul>
                        <li>
                            <a href="">Hướng dẫn mua hàng</a>
                        </li>
                        <li>
                            <a href="">Chính sách thanh toán</a>
                        </li>
                        <li>
                            <a href="">Chính sách đổi trả</a>
                        </li>
                        <li>
                            <a href="">Chính sách bảo hành</a>
                        </li>                                
                        <li>
                            <a href="">Chính sách giao nhận vận chuyển</a>
                        </li>                                
                        <li>
                            <a href="">Chính sách thẻ thành viên</a>
                        </li>
                        <li>
                            <a href="">Hệ thống cửa hàng</a>
                        </li>
                        <li>
                            <a href="">Q&A</a>
                        </li>
                    </ul>
                </div>
                <div class="right-center style-center">
                    <p class="title-footer">Liên hệ</p>
                    <ul>
                        <li>
                            <a href="tel:99999">Hotline</a>
                        </li>
                        <li>
                            <a href="mailto:tanttcg@gmail.com">Email</a>
                        </li>
                        <li>
                            <a href="">Messenger</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right-footer">
                <div class="register-form">
                    <div class="title-footer">Nhận thông tin các chương trình của IVY moda</div>
                    <form id="form_sub">
                        <input type="text" id="email_sub" name="email" placeholder="Nhập địa chỉ email của bạn" required="required">
                        <div class="btn-submit">
                            <input type="text" id="btn-submit" class="form-submit" value="Đăng ký" type="submit">
                        </div>
                    </form>
                </div>
                <div class="download-app"></div>
            </div>
        </div>
    </div>   
</footer>
<footer class="footer footer-mb">
    <div class="container">
        <div class="center-footer">
            <div class="left-center style-center">
                <p class="title-footer">Giới thiệu
                    <i class="ti-angle-right" onclick="toggleAccordion(this)"></i>
                </p>
                <ul class="slip-content" style="display: none">
                    <li>
                        <a href="">Về IVY moda</a>
                    </li>
                    <li>
                        <a href="">Tuyển dụng</a>
                    </li>
                    <li>
                        <a href="">Hệ thống cửa hàng</a>
                    </li>
                </ul>
            </div>
            <div class="main-center style-center">
                <p class="title-footer">Dịch vụ khách hàng
                    <i class="ti-angle-right" onclick="toggleAccordion(this)"></i>
                </p>
                <ul class="slip-content" style="display: none">
                    <li>
                        <a href="">Hướng dẫn mua hàng</a>
                    </li>
                    <li>
                        <a href="">Chính sách thanh toán</a>
                    </li>
                    <li>
                        <a href="">Chính sách đổi trả</a>
                    </li>
                    <li>
                        <a href="">Chính sách bảo hành</a>
                    </li>                                
                    <li>
                        <a href="">Chính sách giao nhận vận chuyển</a>
                    </li>                                
                    <li>
                        <a href="">Chính sách thẻ thành viên</a>
                    </li>
                    <li>
                        <a href="">Hệ thống cửa hàng</a>
                    </li>
                    <li>
                        <a href="">Q&A</a>
                    </li>
                </ul>
            </div>
            <div class="right-center style-center">
                <p class="title-footer">Liên hệ
                    <i class="ti-angle-right" onclick="toggleAccordion(this)"></i>
                </p>
                <ul class="slip-content" style="display: none">
                    <li>
                        <a href="tel:99999">Hotline</a>
                    </li>
                    <li>
                        <a href="mailto:tanttcg@gmail.com">Email</a>
                    </li>
                    <li>
                        <a href="">Messenger</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right-footer">
            <div class="register-form">
                <div class="title-footer">Nhận thông tin các chương trình của IVY moda</div>
                <form id="form_sub">
                    <input type="text" id="email_sub" name="email" placeholder="Nhập địa chỉ email" required="required">
                    <div class="btn-submit">
                        <input type="text" id="btn-submit" class="form-submit" value="Đăng ký" type="submit">
                    </div>
                </form>
            </div>
            <div class="download-app"></div>
        </div>
        <div class="social-footer">
            <ul class="list-social">
                <li>
                    <a href="">
                        <img src="./asset/img/ic_fb.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="./asset/img/ic_gg.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="./asset/img/ic_instagram.svg" alt="" style="height: 30px;">
                    </a>
                </li>
            </ul>
            <div class="hotline">
                <a href="tel:9999999">Hot Online: 0246 662 3434</a>
            </div>
        </div>
        <div class="left-footer">
            <div class="top-left">
                <div class="logo_ivymoda">
                    <a href="">
                        <img src="./asset/img/logo-footer.png" alt="">
                    </a>
                </div>
                <div class="logo_DMCA">
                    <a href="">
                        <img src="./asset/img/DMCA.com_Protection_Status.png" alt="">
                    </a>
                </div>
                <div class="logo_BCT">
                    <a href="">
                        <img src="./asset/img/img-congthuong.png" alt="">
                    </a>
                </div>
            </div>
            <div class="content-left">
                <div class="info-left">
                    <p>Công ty Cổ phần Dự Kim với số đăng ký kinh doanh: 0105777650</p>
                    <p>
                        <strong>Địa chỉ đăng ký: </strong>
                        Tổ dân phố Tháp, P.Đại Mỗ, Q.Nam Từ Liêm, TP.Hà Nội, Việt Nam
                    </p>
                    <p>
                        <strong>Số điện thoại: </strong>
                        0243 205 2222/ 090 589 8683
                    </p>
                    <p>
                        <strong>Email: </strong>
                        cskhivy.com.vn
                    </p>
                </div>
                
            </div>
        </div>
    </div> 
</footer>
<div class="bottom-footer">
    <div class="container">
        <div class="copy-right">©IVYmoda All rights reserved</div>
    </div>
</div>
<div class="nav-bottom-mb">
    <div class="item-nav-bot">
        <div class="item-nav" onclick="toggleSubItemNav(this)">
            <i class="icon-tab-mb ti-search"></i>
            <a href="#" class="link-nav-bot">Tìm kiếm</a>
        </div>
        <div class="sub-item-nav sub-item-nav-search">
            <form action="" class="search-form">
                <button class="search-form__btn">
                    <i class="eadher__icon ti-search icon"></i>
                </button>
                <input type="text" id="search-form__input" placeholder="TÌM KIẾM SẢN PHẨM">
                <div class="search-form__quick-search">
                    <div class="search-items">
                        <h4 class="">Tìm kiếm nhiều nhất</h4>
                        <div class="search-item__hot">
                            <label for="" class="search-item__hot-child">
                                <a href="" class="search-item__hot-child-link">Đầm</a>
                            </label>
                            <label for="" class="search-item__hot-child">
                                <a href="" class="search-item__hot-child-link">trễ vai</a>
                            </label>
                            <label for="" class="search-item__hot-child">
                                <a href="" class="search-item__hot-child-link">Áo khoác</a>
                            </label>
                            <label for="" class="search-item__hot-child">
                                <a href="" class="search-item__hot-child-link">Quần</a>
                            </label>
                            <label for="" class="search-item__hot-child">
                                <a href="" class="search-item__hot-child-link">Áo sơ mi</a>
                            </label> 
                            <label for="" class="search-item__hot-child">
                                <a href="" class="search-item__hot-child-link">Vest</a>
                            </label>
                            <label for="" class="search-item__hot-child">
                                <a href="" class="search-item__hot-child-link">parka</a>
                            </label> 
                            <label for="" class="search-item__hot-child">
                                <a href="" class="search-item__hot-child-link">tweed</a>
                            </label> 
                            <label for="" class="search-item__hot-child">
                                <a href="" class="search-item__hot-child-link">croptop</a>
                            </label> 
                            <label for="" class="search-item__hot-child">
                                <a href="" class="search-item__hot-child-link">Chân váy</a>
                            </label> 
                            <label for="" class="search-item__hot-child">
                                <a href="" class="search-item__hot-child-link">Lông cừu</a>
                            </label>    
                        </div>
                    </div>
                    <div class="search-items">
                        <h4>Vừa tìm kiếm</h4>
                        <ul class="search-item__hot d-flex history_list">
                            <li class="search-item__hot-child">
                                <a href="" class="search-item__hot-child-link">parka</a>
                            </li>
                            <li class="search-item__hot-child">
                                <a href="" class="search-item__hot-child-link">narsu</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="item-nav-bot">
        <div class="item-nav">
            <i class="icon-tab-mb ti-user"></i>
            <a href="#" class="link-nav-bot">Đăng nhập</a>
        </div>
    </div>
    <div class="item-nav-bot">
        <div class="item-nav">
            <i class="icon-tab-mb ti-headphone"></i>
            <a href="#" class="link-nav-bot">Trợ giúp</a>
        </div>
    </div>
</div>