ul {
    padding-left: 0;
    margin: 0;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #373737;
    background-color: transparent;
    transition: all 0.3s ease-in-out 0s;
}
h3 {
    margin-top: 0;
}
img {
    border: none;
    max-width: 100%;
    height: auto;
}
.d-flex {
    display: flex;
}
#footer {
    margin-bottom: 50px;
}
.container {
    max-width: 1380px;
    padding: 0 15px;
    margin: 0 auto;
}
.container {
    width: 100%;
    display: block;
}
.top-footer {
    border-bottom: 1px solid var(--Semantic-03, #D9D9D9);
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.top-footer_left__tit {
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
}
.top-footer_left__nor {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}
.top-footer-left > img {
    padding: 5px;
    background-color: #000;
    border-radius: 35px;
}


.mid-footer {
    border-bottom: 1px solid var(--Semantic-03, #D9D9D9);
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.mid-footer_left__tit {
    display: block;
    font-size: 18px;
    font-weight: 700;
}
.mid-footer_left__nor {
    display: block;
    font-size: 14px;
    font-weight: 400;
}

.mid-footer_left__content {
    flex-direction: column;
    gap: 19px
}
.mid-footer_left__social li {
    display: inline;
    margin-right: 20px;
}









/* Responsive */
@media (max-width: 1200px) {

}

/* Mobile & Tablet */
@media (max-width: 1023px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}


/* Mobile */
@media (max-width: 739px) {
}