<div class="change-pass-container">
    <div class="header-title mb-4">
        <div>Thay đổi mật khẩu</div>
        <div></div>
    </div>
    <div>
        <form action="">
            <div class="form-group pb-3">
                <div class="input-with-icon">
                    <input class="form-control input-primary" type="{{ showPassword ? 'text' : 'password' }}"
                        name="cus_password" id="cus_password" placeholder="Mật khẩu cũ" formControlName="cus_password">
                    <i class="{{ showPassword ? 'far fa-eye-slash' : 'far fa-eye' }}" id="togglePassword"
                        style="cursor: pointer;" (click)="togglePasswordVisibility()"></i>
                </div>
                <div class="error-message" id="cus_password_error"></div>
            </div>
            <div class="form-group pb-3">
                <div class="input-with-icon">
                    <input class="form-control input-primary" type="{{ showPassword ? 'text' : 'password' }}"
                        name="cus_password" id="cus_password" placeholder="Mật khẩu mới" formControlName="cus_password">
                    <i class="{{ showPassword ? 'far fa-eye-slash' : 'far fa-eye' }}" id="togglePassword"
                        style="cursor: pointer;" (click)="togglePasswordVisibility()"></i>
                </div>
                <div class="error-message" id="cus_password_error"></div>
            </div>
            <div class="form-group pb-3">
                <div class="input-with-icon">
                    <input class="form-control input-primary" type="{{ showPassword ? 'text' : 'password' }}"
                        name="cus_password" id="cus_password" placeholder="Nhập lại mật khẩu mới" formControlName="cus_password">
                    <i class="{{ showPassword ? 'far fa-eye-slash' : 'far fa-eye' }}" id="togglePassword"
                        style="cursor: pointer;" (click)="togglePasswordVisibility()"></i>
                </div>
                <div class="error-message" id="cus_password_error"></div>
            </div>
        </form>

        <div class="submit-btn">Cập nhật mật khẩu</div>
    </div>
</div>