.header-title {

    font-size: 16px;

    font-weight: 700;

    letter-spacing: 0.96px;
    color: #000;

    text-align: center;
}

.change-pass-container {
    /* display:flex; */
    padding: 21px 32px 25px 32px;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    /* gap: 10px; */
    border-radius: 28px;

    width: 611px;
}

.input-row {
    display: flex;
    padding: 15px;
    align-items: flex-start;
    gap: 15px;
    /* flex: 1 0 0; */
    align-self: stretch;
    border-radius: 7px;
    border: 1px solid var(--Semantic-02, #CCC);
    background: var(--Neutral-08, #FFF);
}

.form-group {
    position: relative;
    width: 100%;
}

.input-primary {
    /* border-radius: 35px; */
    border: 1px solid var(--neutral-04, #88817F);
    height: 50px;
    /* border-color: #000!important; */
    text-indent: 10px;
    font-size: 14px
}

.input-with-icon {
    position: relative;
}

.input-with-icon i {
    position: absolute;
    right: 10px;
    /* điều chỉnh khoảng cách từ biểu tượng đến mép phải của ô input */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.submit-btn {
    border-radius: 20px;
    border: 1px solid var(--Neutral-01, #000);
    background: var(--Neutral-01, #000);
    display: flex;
    height: 40px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.84px;
    color: white
}