<div class="container" id="body">
    <div id="product_detail" class="row">
        <div class="container">
            <div class="breadcrumb-products" *ngIf="productsHaveModified">
                <ul class="breadcrumb__list">
                    <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Trang chủ</a></li>
                    <li class="breadcrumb__item"><a href="#" class="breadcrumb__link" title="Nữ">Nữ</a></li>
                    <li class="breadcrumb__item">
                        <a href="#" class="breadcrumb__link" style="font-weight: 700;">{{productsHaveModified[0].title}}</a>
                    </li>
                </ul>
            </div>
            <div class="product-detail">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="product-single__thumbnails">
                                <div class="product-single__inner">
                                  <ngx-slick-carousel class="thumbnails" #thumbnailsSlick [config]="slideConfig">
                                    <div ngxSlickItem class="image" *ngFor="let image of imagesArray">
                                      <img loading="lazy" src="http://localhost:3000/productImages/{{productsHaveModified[0].imgHomePage[0].images[0]}}" alt="#" width="100%">
                                    </div>
                                  </ngx-slick-carousel>
                                </div>
                                <div class="thumbs">
                                  <ngx-slick-carousel class="product-single__gallery" #productGallery [config]="galleryConfig">
                                    <div ngxSlickItem class="image image-lazyload" *ngFor="let image of imagesArray">
                                      <img loading="lazy" src="http://localhost:3000/productImages/{{productsHaveModified[0].imgHomePage[0].images[0]}}" alt="#">
                                    </div>
                                  </ngx-slick-carousel>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="productsHaveModified">
                            <div class="product-detail__information">
                                <h1 style="text-transform: uppercase;">{{productsHaveModified[0].title}}</h1>
                                <div class="product-detail__sub-info">
                                    <p>
                                        SKU: <span>{{productsHaveModified[0].sku}}</span>
                                    </p>
                                </div>
                                <div class="product-detail__price">
                                    <input type="hidden" name="hid_product_price_not_format" value="3380000" />
                                    <b>{{formatMoneyVietNam(productsHaveModified[0].price)}}</b>
                                </div>
                                <div class="product-single__addtocart">
                                    <div class="product-single__options">
                                        <div class="product-single__option">
                                            <div class="option-heading">
                                                <span class="option-heading__title">Màu sắc:
                                                    <span rel-script="product-option-title-color" class="text--bold">Đen</span>
                                                </span>
                                            </div>
                                            <ul class="colors">
                                                <li *ngFor="let v of productsHaveModified[0].variants; index as colorI" 
                      [ngClass]="{'color': true, 'color-active': colorI === selectedColorIndex[productIndex]}">
                      <a href="javascript:void(0)" class="color-picked" data-id="{{ v._id }}" 
                          (click)="changeColor(productsHaveModified[0], v.color._id); updateSelectedColorIndex(productIndex, colorI)"
                          [ngClass]="{'active-color': colorI === 0}">
                          <img src="http://localhost:3000/colorImages/{{v.color.imageColor}}" alt="">
                      </a>
                  </li>
                  
                  
                                              </ul>
                                            <div class="option-heading">
                                                <span class="option-heading__title">Kích thước:
                                                    <span rel-script="product-option-title-color" class="text--bold">L</span>
                                                </span>
                                                <a href="#" class="option-heading__sizeguide">Hướng dẫn chọn size</a>
                                            </div>
                                            <div class="product-detail__size">
                                                <div class="product-detail__size__input">
                                                    <label>
                                                        <input type="radio" name="size" value="s" />
                                                        <span class="text-uppercase">s</span>
                                                    </label>
                                                    <label>
                                                        <input type="radio" name="size" value="m" />
                                                        <span class="text-uppercase">m</span>
                                                    </label>
                                                    <label>
                                                        <input type="radio" name="size" value="l" />
                                                        <span class="text-uppercase">L</span>
                                                    </label>
                                                    <label>
                                                        <input type="radio" name="size" value="xl" />
                                                        <span class="text-uppercase">XL</span>
                                                    </label>
                                                    <label>
                                                        <input type="radio" name="size" value="2xl" />
                                                        <span class="text-uppercase">2XL</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="product-detail__quantity">
                                                <p>Số lượng:</p>
                                                <div class="product-single__quantity">
                                                    <div class="quantity">
                                                        <a href="#" class="quantity__reduce" (click)="decreaseQuantity($event)">-</a> 
                                                        <input type="number" [(ngModel)]="quantity" max="99" min="1" class="quantity__control"> 
                                                        <a href="#" class="quantity__augure" (click)="increaseQuantity($event)">+</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-detail__actions">
                                                <div class="product-single__button col-sm-6">
                                                    <a href="#" rel-script="product-add-to-cart" class="btn-add-to-cart">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                                                            <g clip-path="url(#clip0_2230_8332)">
                                                            <path d="M9.5918 22C10.1441 22 10.5918 21.5523 10.5918 21C10.5918 20.4477 10.1441 20 9.5918 20C9.03951 20 8.5918 20.4477 8.5918 21C8.5918 21.5523 9.03951 22 9.5918 22Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M20.5918 22C21.1441 22 21.5918 21.5523 21.5918 21C21.5918 20.4477 21.1441 20 20.5918 20C20.0395 20 19.5918 20.4477 19.5918 21C19.5918 21.5523 20.0395 22 20.5918 22Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M1.5918 1H5.5918L8.2718 14.39C8.36324 14.8504 8.6137 15.264 8.97934 15.5583C9.34498 15.8526 9.80249 16.009 10.2718 16H19.9918C20.4611 16.009 20.9186 15.8526 21.2843 15.5583C21.6499 15.264 21.9004 14.8504 21.9918 14.39L23.5918 6H6.5918" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            </g>
                                                            <defs>
                                                            <clipPath id="clip0_2230_8332">
                                                            <rect width="24" height="24" fill="white" transform="translate(0.591797)"/>
                                                            </clipPath>
                                                            </defs>
                                                            </svg>
                                                        Thêm vào giỏ hàng</a>
                                                </div>
                                                <div class="product-single__button col-sm-6">
                                                    <a href="#" class="btn-buy">
                                                        <img class="btn-icon" src="../assets/icon/SVG/shopping-bag.svg">
                                                        Mua hàng</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="product-single__policy">
                                <div class="product-policy">
                                    <div class="product-policy__item">
                                        <div class="product-policy__icon">
                                            <img src="../assets/icon/SVG/phone-call.svg" alt="Hotline 1900.27.27.37 hỗ trợ từ 8h30 - 22h mỗi ngày">
                                        </div> 
                                        <span class="product-policy__title">Hotline 1900.27.27.37<br>hỗ trợ từ 8h30 - 22h<br>mỗi ngày</span>
                                    </div> 
                                    <div class="product-policy__item">
                                        <div class="product-policy__icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                                                <path d="M23.9248 4.875H2.0498V23.8333H23.9248V4.875Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M23.9248 12.167H29.7581L34.1331 16.542V23.8337H23.9248V12.167Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M8.61263 31.1247C10.6262 31.1247 12.2585 29.4924 12.2585 27.4788C12.2585 25.4653 10.6262 23.833 8.61263 23.833C6.59909 23.833 4.9668 25.4653 4.9668 27.4788C4.9668 29.4924 6.59909 31.1247 8.61263 31.1247Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M27.5706 31.1247C29.5842 31.1247 31.2165 29.4924 31.2165 27.4788C31.2165 25.4653 29.5842 23.833 27.5706 23.833C25.5571 23.833 23.9248 25.4653 23.9248 27.4788C23.9248 29.4924 25.5571 31.1247 27.5706 31.1247Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </div> 
                                        <span class="product-policy__title">Giao hàng nhanh<br>toàn quốc</span>
                                    </div> 
                                    <div class="product-policy__item">
                                        <div class="product-policy__icon">
                                            <img src="../assets/icon/SVG/credit-card1.svg" alt="Thanh toán an toàn">
                                        </div> 
                                        <span class="product-policy__title">Thanh toán an toàn</span>
                                    </div>
                                </div> 
                            </div>
                            <div class="product-single__features">
                                <div class="product-features__heading">Chi tiết sản phẩm</div>
                                <div class="product-features__list col-md-6">
                                    <ul>
                                        <li>Dòng sản phẩm: Ladies</li>
                                        <li>Nhóm sản phẩm: Áo khoác</li>
                                        <li>Cổ áo: Cổ hai ve</li>
                                        <li>Tay áo: Tay dài</li>
                                    </ul>
                                </div>
                                <div class="product-features__list col-md-6">
                                    <ul>
                                        <li>Kiểu dáng: Oversize</li>
                                        <li>Độ dài: Ngang mông</li>
                                        <li>Họa tiết: Trơn</li>
                                        <li>Chất liệu: Tuysi</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="exclusive-content">
                    <div class="exclusive-inner active">
                        <p class="product-related__title">Sản phẩm bạn có thể thích</p>
                        <owl-carousel-o>
                            <ng-template carouselSlide  *ngFor="let product of productsHaveModified, index as productIndex" id="thumbProduct">
                                <div class="owl-stage stage-detail">
                                    <div class="owl-item">
                                        <div class="item-new-prod">
                                            <div class="product">
                                                <div class="info-tag best-seller">Best Seller</div>
                                                <span class="percent percent_02">-50%</span>
                                                <div class="thumb-product" >
                                                    <a href="/product/product-detail/{{product.slug}}" >
                                                        <img id="ao" src="http://localhost:3000/productImages/{{product.imgHomePage[0].images[0]}}" alt="" class=" static">
                                                        <img id="ao2" src="http://localhost:3000/productImages/{{product.imgHomePage[0].images[1]}}" alt="" class=" hover_img">
                                                    </a>
                                                </div>
                                                <div class="info-product">
                                                    <div class="list-color">
                                                        <ul class="colors">
                                                            <li *ngFor="let v of product.variants; index as colorI" 
                                                                [ngClass]="{'color': true, 'color-active': colorI === selectedColorIndex[productIndex]}">
                                                                <a href="javascript:void(0)" class="color-picked" data-id="{{ v._id }}" 
                                                                (click)="changeColor(product, v.color._id); updateSelectedColorIndex(productIndex, colorI)" [ngClass]="{'active-color': colorI === 0}">
                                                                    <img src="http://localhost:3000/colorImages/{{v.color.imageColor}}" alt="">
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <div class="favorite">
                                                            <i class="ti-heart"></i>
                                                        </div>
                                                    </div>
                                                    <div class="title-product">
                                                        <a href="">{{product.title}}</a>
                                                    </div>
                                                    <div class="price-product">
                                                        <ins>
                                                            <h4>{{formatMoneyVietNam(product.price)}}</h4>
                                                        </ins>
                                                        <del>
                                                            <span>1.790.000đ</span>
                                                        </del>
                                                    </div>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a href="javascript:void(0)#" class="js-cart-button" (click)="toggleSizeTable(productIndex)">
                                                        <i class="ti-shopping-cart"></i>
                                                    </a>
                                                </div>
                                                <div id="sizeTable{{productIndex}}" class="sizeTable js-list-size">
                                                    <ul>
                                                        <li *ngFor="let vc of product.imgHomePage[0].variantColor" [class.disabled]="vc.quantity === 0"
                                                        (click)="vc.quantity !== 0 && popupContainer && addActiveCartPopupClass()">
                                                            <button class="btn bt-large" [disabled]="vc.quantity === 0"
                                                            (click)="vc.quantity !== 0 && addToCart(product.imgHomePage[0].colorID, product._id, vc.size, 1)">
                                                                <ng-container *ngIf="vc.quantity !== 0; else noQuantity">{{ vc.size }}</ng-container>
                                                                <ng-template #noQuantity><del>{{ vc.size }}</del></ng-template>
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </owl-carousel-o>
                    </div>
                </div>
            </div>
            <div class="img-trending-desktop" *ngFor="let bannersArrays of bannersArray">
                <img src="{{bannersArrays.imgName}}" alt="BANNER TRENDING">
            </div>
        </div>
    </div>    



</div>
