<!-- Import necessary Angular Material styles -->
<link
  href="https://cdn.jsdelivr.net/npm/@angular/material/prebuilt-themes/indigo-pink.css"
  rel="stylesheet"
/>
          <!-- Display snackbar at the top -->
          <div *ngIf="infoResult" class="snackbar-container">
            {{ infoResult }}
          </div>
<!-- Your Angular component template -->
<div class="container-register ms-3 me-3">
  <div class="container-fluid">
    <div class="text_head pt-2 pb-2">ĐĂNG KÝ</div>
    <div class="row">
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 ps-3 pe-3 mt-5">
            <p>Thông tin khách hàng</p>
            <div class="row">
              <!-- First Name -->
              <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                <mat-form-field appearance="outline">
                  <mat-label>Họ:</mat-label>
                  <input
                    matInput
                    placeholder="Họ..."
                    formControlName="cus_firstname"
                  />
                  <mat-error
                    *ngIf="
                      registerForm.get('cus_firstname')?.invalid &&
                      !registerForm
                        .get('cus_firstname')
                        ?.hasError('startsWithNumber')
                    "
                  >
                    Họ không được bỏ trống</mat-error
                  >
                  <mat-error
                    *ngIf="
                      registerForm
                        .get('cus_firstname')
                        ?.hasError('startsWithNumber')
                    "
                    >Họ không được bắt đầu bằng số</mat-error
                  >
                </mat-form-field>
              </div>

              <!-- Last Name -->
              <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                <mat-form-field appearance="outline">
                  <mat-label>Tên:</mat-label>
                  <input
                    matInput
                    placeholder="Tên..."
                    formControlName="cus_lastname"
                  />
                  <mat-error
                    *ngIf="
                      registerForm.get('cus_lastname')?.invalid &&
                      !registerForm
                        .get('cus_lastname')
                        ?.hasError('startsWithNumber')
                    "
                  >
                    Tên không được bỏ trống
                  </mat-error>
                  <mat-error
                    *ngIf="
                      registerForm
                        .get('cus_lastname')
                        ?.hasError('startsWithNumber')
                    "
                  >
                    Tên không được bắt đầu bằng số
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- Email -->
              <div class="col-md-6 col-sm-6 col-xs-12 mt-4">
                <mat-form-field appearance="outline">
                  <mat-label>Email:</mat-label>
                  <input
                    matInput
                    type="email"
                    placeholder="name@example.com"
                    formControlName="cus_email"
                  />
                  <mat-error *ngIf="registerForm.get('cus_email')?.invalid"
                    >Email không được bỏ trống và phải là địa chỉ email hợp
                    lệ</mat-error
                  >
                </mat-form-field>
              </div>

              <!-- Phone Number -->
              <div class="col-md-6 col-sm-6 col-xs-12 mt-4">
                <mat-form-field appearance="outline">
                  <mat-label>Điện thoại:</mat-label>
                  <input
                    matInput
                    placeholder="Điện thoại..."
                    formControlName="cus_phonenumber"
                  />
                  <mat-error
                    *ngIf="registerForm.get('cus_phonenumber')?.invalid"
                    >Điện thoại không được bỏ trống</mat-error
                  >
                </mat-form-field>
              </div>

              <!-- Date of Birth -->
              <div class="col-md-6 col-sm-6 col-xs-12 mt-4">
                <mat-form-field appearance="outline">
                  <mat-label>Ngày sinh:</mat-label>
                  <input
                    matInput
                    type="date"
                    placeholder="Chọn ngày sinh"
                    formControlName="cus_dob"
                  />
                  <mat-error *ngIf="registerForm.get('cus_dob')?.invalid"
                    >Ngày sinh không được bỏ trống</mat-error
                  >
                </mat-form-field>
              </div>

              <!-- Gender -->
              <div class="col-md-6 col-sm-6 col-xs-12 mt-4">
                <mat-form-field appearance="outline">
                  <mat-label>Giới tính:</mat-label>
                  <mat-select formControlName="cus_gender">
                    <mat-option
                      *ngFor="let gender of genders"
                      [value]="gender.value"
                    >
                      {{ gender.viewValue }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="registerForm.get('cus_gender')?.invalid"
                    >Giới tính không được bỏ trống</mat-error
                  >
                </mat-form-field>
              </div>

              <!-- Region/Province -->
              <div class="col-md-6 col-sm-6 col-xs-12 mt-4">
                <mat-form-field appearance="outline">
                  <mat-label>Tỉnh/Thành phố:</mat-label>
                  <mat-select formControlName="cus_region_id" (selectionChange)="selectChangeP($event)">
                    <mat-option *ngFor="let province of provinces" [value]="province.code">
                      {{ province.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="registerForm.get('cus_region_id')?.invalid">Tỉnh/Thành phố không được bỏ trống</mat-error>
                </mat-form-field>
              </div>
              

              <!-- District -->
              <div class="col-md-6 col-sm-6 col-xs-12 mt-4">
                <mat-form-field appearance="outline">
                  <mat-label>Quận/Huyện:</mat-label>
                  <mat-select
                    formControlName="cus_district_id"
                    (selectionChange)="selectChangeD($event)"
                  >
                    <mat-option
                      *ngFor="let district of districts"
                      [value]="district.code"
                    >
                      {{ district.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="registerForm.get('cus_district_id')?.invalid"
                    >Quận/Huyện không được bỏ trống</mat-error
                  >
                </mat-form-field>
              </div>

              <!-- Ward -->
              <div class="col-md-12 mt-4">
                <mat-form-field appearance="outline">
                  <mat-label>Phường/Xã:</mat-label>
                  <mat-select formControlName="cus_ward_id">
                    <mat-option *ngFor="let ward of wards" [value]="ward.code">
                      {{ ward.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="registerForm.get('cus_ward_id')?.invalid"
                    >Phường/Xã không được bỏ trống</mat-error
                  >
                </mat-form-field>
              </div>

              <!-- Quick Address -->
              <div class="col-md-12 mt-4">
                <mat-form-field appearance="outline">
                  <mat-label>Chọn nhanh địa chỉ:</mat-label>
                  <input
                    matInput
                    placeholder="Nhập địa chỉ..."
                    formControlName="cus_address_id"
                  />
                  <mat-error *ngIf="registerForm.get('cus_address_id')?.invalid"
                    >Địa chỉ không được bỏ trống</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 pe-3 ps-5 mt-5">
            <p>Thông tin mật khẩu</p>
            <div class="row">
              <!-- Password -->
              <!-- Password -->
              <div class="col-md-6 col-sm-6 col-xs-12 mt-3" style="width: 100%">
                <mat-form-field appearance="outline">
                  <mat-label>Mật khẩu:</mat-label>
                  <input
                    matInput
                    type="{{ hidePassword ? 'password' : 'text' }}"
                    formControlName="cus_password"
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="togglePasswordVisibility()"
                  >
                    <mat-icon>{{
                      hidePassword ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                  <mat-error
                    *ngIf="
                      registerForm.get('cus_password')?.hasError('required')
                    "
                    >Mật khẩu không được bỏ trống</mat-error
                  >
                  <mat-error
                    *ngIf="
                      registerForm.get('cus_password')?.hasError('minlength')
                    "
                    >Mật khẩu phải có ít nhất 6 ký tự</mat-error
                  >
                </mat-form-field>
              </div>

              <!-- Re-enter Password -->
              <div class="col-md-12 mt-4">
                <mat-form-field appearance="outline" style="margin-top: 5px;">
                  <mat-label>Nhập lại mật khẩu:</mat-label>
                  <input
                    matInput
                    type="password"
                    placeholder="Nhập lại mật khẩu..."
                    formControlName="cus_reenterpassword"
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="togglePasswordVisibility()"
                  >
                    <mat-icon>{{
                      hidePassword ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                  <mat-error
                    *ngIf="registerForm.get('cus_reenterpassword')?.invalid"
                    >Nhập lại mật khẩu không được bỏ trống và phải khớp với mật
                    khẩu đã nhập trước đó</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

            <!-- Agreement Checkboxes -->
            <div class="row mt-3">
              <div class="col-md-12">
                <mat-checkbox formControlName="cus_agree" [checked]="true">
                  Đồng ý với các
                  <span>
                    <a href="" style="color: #c54c3d; text-decoration: none"
                      >điều khoản</a
                    >
                  </span>
                  của Larosé
                </mat-checkbox>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-12">
                <mat-checkbox formControlName="cus_register_news">
                  Đăng ký nhận bản tin
                </mat-checkbox>
              </div>
            </div>

            <!-- Submit Button -->
            <div class="row mt-3">
              <div class="col-md-12 d-grid gap-2 mx-auto">
                <button type="submit" class="btn-primary">
                  Đăng ký
                </button>
              </div>
            </div>

            <!-- Login Link -->
            <div class="row mt-3">
              <a class="login-link" routerLink="/login"
                ><strong>Đăng nhập</strong></a
              >
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<pre>
  <!-- {{ registerForm.value | json }} -->
</pre>
