<div class="container-register ms-5 me-5">

    <div class="container-fluid">
        <div class="text_head pt-5 pb-4">ĐĂNG KÝ</div>
        <div class="row">
            <form action="" name="page_register" method="post" (submit)="register()" [formGroup]="registerForm">
                <!-- <div *ngIf="showOptionZeroError" class="error-message">
                    Vui lòng chọn giá trị.
                  </div> -->
                  {{infoResult}}
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 ps-5 pe-3 mt-5">
                        <p>Thông tin khách hàng</p>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 ">
                                <div class="form-group">
                                    <label for="cus_firstname" class="form-label">Họ:
                                        <span style="color: red;">*</span>
                                    </label>
                                    <input class="form-control input-primary" type="text" placeholder="Họ..." id="cus_firstname" name="cus_firstname" formControlName="cus_firstname">
                                    <div id="cus_firstname_error" class="error-message" ></div>
        
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="cus_lastname" class="form-label">Tên:
                                        <span style="color: red;">*</span>
                                    </label>
                                    <input class="form-control input-primary" type="text" placeholder="Tên..." id="cus_lastname" name="cus_lastname" formControlName="cus_lastname">
                                    <div id="cus_lastname_error" class="error-message" ></div>
        
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                                <div class="form-group">
                                    <label for="cus_email" class="form-label">Email:
                                        <span style="color: red;">*</span>
                                    </label>
                                    <input class="form-control input-primary" type="email" placeholder="name@example.com" id="cus_email" name="cus_email" formControlName="cus_email">
                                    <div id="cus_email_error" class="error-message" ></div>
        
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                                <div class="form-group">
                                    <label for="cus_phonenumber" class="form-label">Điện thoại:
                                        <span style="color: red;">*</span>
                                    </label>
                                    <input class="form-control input-primary" type="text" placeholder="Điện thoại..." id="cus_phonenumber" name="cus_phonenumber" formControlName="cus_phonenumber">
                                    <div id="cus_phonenumber_error" class="error-message"></div>
        
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                                <div class="form-group">
                                    <label for="cus_dob" class="form-label">Ngày sinh:
                                        <span style="color: red;">*</span>
                                    </label>
                                    <input class="form-control datepicker hasDatepicker input-primary" type="date" placeholder="Chọn ngày sinh" id="cus_dob" name="cus_dob" formControlName="cus_dob">
                                    <div id="cus_dob_error" class="error-message"></div>
        
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                                <div class="form-group">
                                    <label for="cus_gender" class="form-label">Giới tính:
                                        <span style="color: red;">*</span>
                                    </label>
                                    <select name="cus_gender" id="cus_gender" class="form-control input-primary" formControlName="cus_gender">
                                        <option [value]="0">Chọn giới tính</option>
                                        <option [value]="1">Nữ</option>
                                        <option [value]="2">Nam</option>
                                    </select>
                                    <div id="cus_gender_error" class="error-message"></div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                                <div class="form-group">
                                    <label for="cus_region_id" class="form-label">Tỉnh/Thành phố:
                                        <span style="color: red;">*</span>
                                    </label>
                                    <select name="cus_region_id" id="cus_region_id" class="form-control input-primary" formControlName="cus_region_id" (change)="selectChangeP($event)">
                                        <option [value]="">Chọn tỉnh/thành phố</option>
                                        <option *ngFor="let province of provinces" [value]="province.code">
                                            {{ province.name }}
                                    </select>
                                    <div id="cus_region_id_error" class="error-message"></div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                                <div class="form-group">
                                    <label for="cus_district_id" class="form-label ">Quận/Huyện:
                                        <span style="color: red;">*</span>
                                    </label>
                                    <select name="cus_district_id" id="cus_district_id" class="form-control input-primary" formControlName="cus_district_id" (change)="selectChangeD($event)">
                                        <option [value]="0">Chọn Quận/Huyện</option>
                                        <option *ngFor="let district of districts" [value]="district.code">
                                            {{ district.name }}
                                    </select>
                                    <div id="cus_district_id_error" class="error-message"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="cus_ward_id" class="form-label">Phường/Xã:
                                        <span style="color: red;">*</span>
                                    </label>
                                    <select name="cus_ward_id" id="cus_ward_id" class="form-control input-primary" formControlName="cus_ward_id" >
                                        <option [value]="0">Chọn Phường/Xã</option>
                                        <option *ngFor="let ward of wards" [value]="ward.code">
                                            {{ ward.name }}
                                    </select>
                                    <div id="cus_ward_id_error" class="error-message"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="cus_address_id" class="form-label">Chọn nhanh địa chỉ:
                                        <span style="color: red;">*</span>
                                    </label>
                                    <input name="cus_address_id" id="cus_address_id" class="form-control input-primary" placeholder="Nhập địa chỉ..." formControlName="cus_address_id">
                                    <div id="cus_address_id_error" class="error-message"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 pe-3 ps-5 mt-5">
                        <p>Thông tin mật khẩu</p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="cus_password" class="form-label">Mật khẩu:
                                        <span style="color: red;">*</span>
                                    </label>
                                    <input class="form-control input-primary" type="password" placeholder="Mật khẩu..." id="cus_password" name="cus_password" formControlName="cus_password">
                                    <div id="cus_password_error" class="error-message"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="cus_reenterpassword" class="form-label">Nhập lại mật khẩu:
                                        <span style="color: red;">*</span>
                                    </label>
                                    <input class="form-control input-primary" type="password" placeholder="Nhập lại mật khẩu..." id="cus_reenterpassword" name="cus_reenterpassword" formControlName="cus_reenterpassword">
                                    <div id="cus_reenterpassword_error" class="error-message"></div>
                                </div>
                            </div>
                        </div>                    
                        <div class="row mt-3">
                            <div class="col-md-12">
                            <div class="form-check">
                                <input class="form-check-input checkboxs" type="checkbox" name="cus_agree" id="agree_check" checked disabled>
                                <label for="agree_check" class="form-check-label">Đồng ý với các <span><a href="" style="color: #C54C3D; text-decoration: none;">điều khoản</a></span> của IVY</label>
                            </div>
                            </div>
                        </div>                     
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="form-check">
                                    <input class="form-check-input checkboxs" type="checkbox" name="cus_register_news" id="agree_check-2">
                                    <label for="agree_check-2" class="form-check-label">Đăng ký nhận bản tin</label>
                                </div>
                            </div>
                        </div>                    
                        <div class="row mt-3">
                            <div class="col-md-12 d-grid gap-2 mx-auto">
                                <button class="btn btn-primary" type="submit" >Đăng ký</button>
                            </div>
                        </div>
                        <div class="row mt-3" >
                            <a ><strong>Đăng nhập</strong></a>
                        </div>
                    </div>
                </div>
            </form> 
        </div>
    </div>
</div>

<pre>
    {{ registerForm.value | json }}
  </pre>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>