.btn-reset{
    background-color: black;
    color: var(--neutral-08, #FFF);
    border-radius: 35px;
    border: 1px solid black;
    font-size: 16px;
    letter-spacing: 0.96px;
    font-weight: 700;
    height: 50px;
    width: 50%;
    margin: auto;
}
.btn-reset:hover{
    background-color: white;
    color: black;
    border-radius: 35px;
    border: 1px solid black;
    font-size: 16px;
    letter-spacing: 0.96px;
    font-weight: 700;
    height: 50px;
}
.text_header{
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.44px;
    color: black;
}
p {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.80px;
}

.content-modal{
    text-align: center; 
    padding: 20px;   
    display: flex;
    flex-direction: column;
}
.input-pri{
    border-radius: 35px;
    border: 1px solid var(--neutral-04, #88817F);
    /* height: 50px; */
    text-indent: 20px;
    width: 100%;
    display: flex;
    align-self: stretch;
    padding: 18px 16px;


}
::placeholder{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.8px;
    /* text-indent: 20px; Adjust the text-indent to match the padding */

}
/* Trong file CSS của bạn */
.error-field {
    border: 1px solid red !important; /* Nổi viền đỏ */
  }
  
  .error-message {
    color: red;
    text-align: left;
  }
  

