<div class="modal-header">
  <span class="close" (click)="closeDialog()" style="margin-left: auto; width: 40px; font-size: 30px; height: 40px; padding-top: 20px;">&times;</span>
</div>
<form [formGroup]="forgotPasswordSuccessForm">
  <div mat-dialog-content class="content-modal">
    <p class="text_header">Yêu cầu thành công</p>
    <mat-form-field style="width: 100%;">
      <input matInput formControlName="cus_new_pass" placeholder="Mật khẩu...">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <input matInput formControlName="re_cus_new_pass" placeholder="Nhập lại mật khẩu...">
    </mat-form-field>
          <!-- Hiển thị thông báo lỗi cụ thể -->
          <div *ngIf="passwordMismatchError" class="error-message">
            {{ passwordMismatchError }}
          </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button class="btn-reset" cdkFocusInitial (click)="resetPassword()">Đặt lại mật khẩu</button>
  </div>
</form>
