<div class="frame_btn_footer">
  <div class="row">
    <div class="form-group col-md-6 col-sm-6 ps-4">
      <button class="btn_delete" id="btn_delete" name="btn_delete">Xóa</button>
    </div>
    <div class="col-md-6 col-sm-6 pe-4">
      <div class="form-group btn_group_footer text-end">
        <button class="btn_cancel" id="btn_cancel" name="btn_cancel">
          Hủy
        </button>
        <button class="btn_create" id="btn_create" name="btn_create">
          Lưu
        </button>
      </div>
    </div>
  </div>
</div>
