<div class="container_content">
  <div class="frame_header">
    <p style="gap: 5px">Đơn hàng/ Quản lý đơn hàng</p>
    <p class="text_head">Quản lý đơn hàng</p>
  </div>
  <hr />
  <form action="" name="page_manageorder" method="post">
    <div class="col-md-12">
      <div class="frame_title">
        <p><strong>Bảng danh sách đơn hàng</strong></p>
      </div>
      <div class="frame_body">
        <div class="mt-4">
          <table
            id="manage-orders"
            class="table table-hover custom-datatable"
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
          >
            <thead>
              <tr>
                <th>Order ID</th>
                <th>Trạng thái</th>
                <th style="text-align: center">Số lượng</th>
                <th>Khách hàng</th>
                <th>Mã Tracking</th>
                <th style="text-align: center">Chi tiết đơn hàng</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of allOrders">
                <td>{{ order._id }}</td>
                <!-- <td>{{ order.status }}</td> -->
                <td>
                  <select [(ngModel)]="order.status" name="orderStatus">
                      <option value="Đang xử lý" [selected]="order.status === 'pending'">Đang xử lý</option>
                      <option value="Yêu cầu hủy" [selected]="order.status === 'pending'">Yêu cầu hủy</option>
                      <option value="Đang giao hàng" [selected]="order.status === 'shipped'">Đang giao hàng</option>
                      <option value="Đã giao hàng" [selected]="order.status === 'delivered'">Đã giao hàng</option>
                      <option value="Đã hủy" [selected]="order.status === 'delivered'">Đã hủy</option>
                      <!-- Thêm các tùy chọn khác nếu cần -->
                  </select>
                <td style="text-align: center">{{ order.totalQuantity }}</td>
                <td>{{ order.first_name }} {{order.last_name}}</td>
                <td>TRK987654321</td>
                <td style="text-align: center">
                  <i class="fas fa-pen-square custom-smaller-icon"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>
