.fav-header{
    font-size: 28px;
    /* padding-top: 20px; */
    font-weight: 700;
    letter-spacing: 1.92px;
}

@media screen and (max-width: 768px) {
    .fav-header{
        font-size: 14px;
    }
}