<link rel="icon" type="image/x-icon" href="favicon.ico">

<div class="container-login">
  <div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12 d-grid gap-2 mx-auto">
            <div class="frame">
                <div class="row p-4">
                  <div class="text_head">ĐĂNG NHẬP</div>
                  {{infoResult}}
                  <div class="form-group mt-3">
                      <p>Đăng nhập để không bỏ lỡ quyền lợi tích luỹ và hoàn tiền cho bất kỳ đơn hàng nào.</p>
                  </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 pt-2">
                        <form action="" name="page_login" method="post" [formGroup]="loginForm">
                          <div class="form-group">
                            <input class="form-control input-primary" type="text" name="cus_account" id="cus_account" placeholder="Email/SĐT"
                              formControlName="cus_account" [ngClass]="{'error-input': loginForm.get('cus_account')?.errors?.['required']}">
                            <div class="error-message" id="cus_account_error"></div>
                          </div>
                          <div class="form-group mt-4 pb-3">
                              <input class="form-control input-primary" 
                              type="{{ showPassword ? 'text' : 'password' }}" 
                              name="cus_password" 
                              id="cus_password" 
                              placeholder="Mật khẩu"
                              formControlName="cus_password" 
                              [ngClass]="{'error-input': loginForm.get('cus_password')?.errors?.['required']}">
                              <i class="{{ showPassword ? 'far fa-eye-slash' : 'far fa-eye' }}" 
                              id="togglePassword" 
                              style="cursor: pointer;" 
                              (click)="togglePasswordVisibility()"></i>
                            <div class="error-message" id="cus_password_error"></div>
                          </div>
                          <div class="form-group col-md-12 d-grid gap-2 mx-auto mt-4">
                            <button id="btn-login" class="btn btn-primary" type="submit" (click)="login()">Đăng nhập</button>
                          </div>
                            <div class="row mt-3">
                                <div class="col mt-3 order-first">
                                    <p><a routerLink="/register">Đăng ký tài khoản</a></p>
                                </div>
                                <div class="col mt-3 order-last text-end">
                                  <p><a (click)="openForgotPasswordDialog()" >Quên mật khẩu?</a></p>
                                </div>
                            </div>
                        </form>
                        <hr>
                        <p>Đăng nhập bằng tài khoản của bạn trên:</p>
                        <!-- Thêm thẻ i và class của Font Awesome cho biểu tượng Google -->
                        <button class="btn btn-google" type="button" style="border: 1px solid black; padding: 15px;">
                          <i class="fab fa-google" style="padding-right: 10px;"></i> Đăng nhập bằng Google
                        </button>
                    </div>
                  
                    <div class="col pt-2">
                        <img src="/assets/img/login.png" class="img-fluid hidden-mobile">
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>



{{ loginForm.value | json }}
