/* html,
body {
    color: #6C6D70;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
} */

/* .account-container {
    margin: 100px 60px 100px 40px;
} */
/* 
.custom {
    padding-left: 20px;
} */
html,
body {
    line-height: 25px;
    color: #000;
    font-family: Montserrat;
    font-style: normal;
    line-height: normal;
}

:host {
    font-family: 'Montserrat', sans-serif;
}

.info-header {
    font-size: 28px;
    /* padding-top: 20px; */
    font-weight: 700;
    letter-spacing: 1.92px;
}

.row {
    margin-bottom: 10px;
}

.order-block {
    margin-top: 32px;
}

.col-input input {
    height: 47px;
    font-weight: 700;
}

.radio_label {
    font-size: 14px;
    line-height: 16px;
    color: #221f20;
    cursor: pointer;
    position: relative;
    padding-left: 28px;
}

.form-radio__input {
    display: none;
}

.radio_label:before {
    content: "";
    width: 20px;
    height: 20px;
    background: rgba(217, 217, 217, 1);
    /* border: 1px solid #e7e8e9; */
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.form-radio__input:checked~.radio_label:before {
    content: "";
    background-color: #221f20;
    color: white;

    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* :after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */

.col-input .form-control {
    width: 100%;
    font-size: 14px;
    line-height: 16px;

}

/* .form-buttons {
    display: flex;
    align-items: center;

} */

.form-buttons button {
    border: solid 1px black;
    border-radius: 50px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.06em;
    /* background-color: #fff; */
    text-transform: uppercase;
    margin-right: 20px;
}

.btn:hover {
    background-color: #000000;
    color: white;
}

.member-card {
    width: 397px;
    height: 210px;
    border-radius: 15px;
    border: 1px solid #bdbdbd;
    padding: 20px;
    color: rgb(255, 255, 255);
    background: linear-gradient(271.75deg, #B38F86 2.25%, #9B3A23 92.2%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
}

.card-info {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}

.status {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-align: left;
}

.selection {
    width: 221px;
    height: 35px;
    padding: 10px;
    border-radius: 14px;
    background-color: rgba(241, 241, 241, 1);

}

.message {
    font-style: italic;
}

.message span {
    color: var(--Primary-01, #9B3A23);
}




.is-invalid {
    border: 1px solid red;
    /* or any other styling for highlighting */
}


.notification {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    z-index: 9999;
}

.notification.success {
    background-color: #4caf50;
    /* Green */
}

.notification.error {
    background-color: #f44336;
    /* Red */
}
@media screen and (max-width: 768px) {
    .info-header{
        font-size: 14px;
    }
}