
    <div class=" row info-header text-uppercase ">
       tài khoản của tôi
    </div>
    <div class="row order-block">
        <!-- INFO CONTAINER   -->
        <div class="col-lg-6 col-12 order-lg-1 order-sm-2 order-2">
            <div class="row ">
                <div class="align-self-center  col-sm-4 col-label">
                    <label>Họ</label>
                </div>
                <div class="col-sm-8 col-input">
                    <input class="form-control" value="Họ" type="text">
                </div>
            </div>
            <div class="row ">
                <div class="align-self-center col-sm-4 col-label">
                    <label>Tên</label>
                </div>
                <div class="col-sm-8 col-input">
                    <input class="form-control" value="Tên" type="text">
                </div>
            </div>
            <div class="row ">
                <div class="align-self-center col-sm-4 col-label">
                    <label>Số điện thoại</label>
                </div>
                <div class="col-sm-8 col-input has-button">
                    <input value="0997349232" class="form-control" type="text" id="customer_phone">
                </div>
            </div>

            <div class="row ">
                <div class="align-self-center col-sm-4 col-label">
                    <label>Email</label>
                </div>
                <div class="col-sm-8 col-input has-button">
                    <input class="form-control" type="text" value="email1234@gmail.com" id="customer_email"
                        name="customer_email">
                </div>
            </div>
            <div class="row ">
                <div class="align-self-center col-sm-4 col-label">
                    <label>Giới tính</label>
                </div>
                <div class="col-sm-8 col-input">
                    <div class="row">
                        <div class=" col-12">
                            <label class="form-radio">
                                <input class="form-radio__input" type="radio" name="customer_sex" value="1"><span
                                    class="radio_label">Nam</span>
                            </label>
                            <label class="form-radio">
                                <input class="form-radio__input" type="radio" name="customer_sex" value="0"
                                    checked=""><span class="radio_label">Nữ</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="align-self-center col-sm-4 col-label">
                    <label>Ngày sinh</label>
                </div>
                <div class="col-sm-8 col-input">
                    <input type="date" value="" class="form-control">
                </div>
            </div>
            <div class="d-flex form-buttons justify-content-center   ">
                <button type="button" class="btn btn-sm  ">Cập nhật</button>
                <button class="btn ">Đổi mật khẩu</button>
            </div>
        </div>
        <!-- MEMBER CARD CONTAINER -->
        <div class="col-lg-5 col-12 order-lg-2 order-sm-1 order-1 mb-3">
            <div class="member-card">
                <h2>LAROSE</h2>
                <div class="card-info">
                    <p><span>SILVER </span>MEMBER CARD</p>
                    <p>DISCOUNT LIMIT: <span>8%</span></p>
                    <p>NO. <span>000005</span></p>
                </div>

            </div>

            <div class="message">*Chi tiêu thêm <span>500.000đ</span> để lên hạng vàng</div>
        </div>
    </div>

