<div class=" row info-header text-uppercase ">
    tài khoản của tôi
</div>
<div class="row order-block">
    <!-- INFO CONTAINER   -->
    <div class="col-lg-6 col-12 order-lg-1 order-sm-2 order-2">
        <form [formGroup]="userInfoForm" (ngSubmit)="updateUserInfo()">
            <!-- <div class=""> -->
            <div class="form-group row">
                <label for="first_name" class="col-sm-4 col-form-label">Họ</label>
                <div class="col-sm-8 col-input">
                    <input formControlName="first_name" class="form-control" id="first_name" type="text"
                        [class.is-invalid]="userInfoForm.get('first_name')?.invalid && userInfoForm.get('first_name')?.touched">
                    <div *ngIf="userInfoForm.get('first_name')?.invalid && userInfoForm.get('first_name')?.touched"
                        class="invalid-feedback">
                        Họ không được trống
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="last_name" class="col-sm-4 col-form-label">Tên</label>
                <div class="col-sm-8 col-input">
                    <input formControlName="last_name" class="form-control" id="last_name" type="text"
                        [class.is-invalid]="userInfoForm.get('last_name')?.invalid && userInfoForm.get('last_name')?.touched">
                    <div *ngIf="userInfoForm.get('last_name')?.invalid  && userInfoForm.get('last_name')?.touched"
                        class="invalid-feedback">
                        Tên không được trống
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="customer_phone" class="col-sm-4 col-form-label">Số điện thoại</label>
                <div class="col-sm-8 col-input">
                    <input formControlName="phone" class="form-control" id="customer_phone" type="text"
                        [class.is-invalid]="userInfoForm.get('phone')?.invalid && userInfoForm.get('phone')?.touched">
                    <div *ngIf="userInfoForm.get('phone')?.invalid && userInfoForm.get('phone')?.touched"
                        class="invalid-feedback">
                        Số điện thoại không được trống
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="customer_email" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8 col-input">
                    <input formControlName="email" class="form-control" id="customer_email" type="text"
                        [class.is-invalid]="userInfoForm.get('email')?.invalid && userInfoForm.get('email')?.touched">
                    <div *ngIf="userInfoForm.get('email')?.invalid && userInfoForm.get('email')?.touched"
                        class="invalid-feedback">
                        Email không hợp lệ
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Giới tính</label>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-12 d-flex gap-5">
                            <label class="form-radio">
                                <input formControlName="gender" class="form-radio__input" type="radio" value="2"
                                    [checked]="userInfo?.gender === 2">
                                <span class="radio_label">Nam</span>
                            </label>
                            <label class="form-radio">
                                <input formControlName="gender" class="form-radio__input" type="radio" value="1"
                                    [checked]="userInfo?.gender === 1">
                                <span class="radio_label">Nữ</span>
                            </label>
                        </div>
                    </div>
                    <div *ngIf="userInfoForm.get('gender')?.invalid && userInfoForm.get('gender')?.touched"
                        class="invalid-feedback">
                        Chọn giới tính
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="date_of_birth" class="col-sm-4 col-form-label">Ngày sinh</label>
                <div class="col-sm-8 col-input">
                    <input formControlName="date_of_birth" class="form-control" id="date_of_birth" type="date"
                        [class.is-invalid]="userInfoForm.get('date_of_birth')?.invalid && userInfoForm.get('date_of_birth')?.touched">
                    <div *ngIf="userInfoForm.get('date_of_birth')?.invalid && userInfoForm.get('date_of_birth')?.touched"
                        class="invalid-feedback">
                        Ngày sinh không hợp lệ
                    </div>
                </div>
            </div>
        </form>
        <div class="d-flex form-buttons justify-content-center">
            <button type="button" class="btn btn-sm" (click)="updateUserInfo()">Cập nhật</button>
            <button class="btn" (click)="openDialog()">Đổi mật khẩu</button>
        </div>
        <!--  display the notification -->
        <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
        <div *ngIf="errMessage" class="alert alert-danger mt-3">{{ errMessage }}</div>
    </div>


<!-- MEMBER CARD CONTAINER -->
<div class="col-lg-5 col-12 order-lg-2 order-sm-1 order-1 mb-3">
    <div class="member-card">
        <h2>LAROSE</h2>
        <div class="card-info">
            <p><span>SILVER </span>MEMBER CARD</p>
            <p>DISCOUNT LIMIT: <span>8%</span></p>
            <p>NO. <span>000005</span></p>
        </div>

    </div>

    <div class="message">*Chi tiêu thêm <span>500.000đ</span> để lên hạng vàng</div>
</div>
</div>