<main id="main" class="site-man">
  <div class="container">
    <section class="home-banner bg-before bg-before02">
      <div class="slider-banner">
        <owl-carousel-o [options]="bannerOptions">
          <ng-template carouselSlide *ngFor="let bannersArrays of bannersArray">
            <img src="{{bannersArrays.imgName}}" alt="">
          </ng-template>
        </owl-carousel-o>
      </div>
    </section>

    
    <!--  -->
    <section class="home-new-prod">
      <div class="exclusive-tabs">
        <div class="exclusive-head">
          <ul>
            <li class="exclusive-tab new-prod">Sản phẩm mới</li>
            <li class="exclusive-tab hot-prod">Bán chạy nhất</li>
          </ul>
        </div>
        <div class="exclusive-content">
          <div class="exclusive-inner active">
            <owl-carousel-o [options]="newprodOptions">
              <ng-template carouselSlide  *ngFor="let product of productsHaveModified, index as productIndex" id="thumbProduct">
                <div class="owl-stage stage-detail">
                  <div class="owl-item">
                    <div class="item-new-prod">
                      <div class="product">
                        <div class="info-tag best-seller">Best Seller</div>
                        <span class="percent percent_02">-50%
                        </span>
                        <a routerLink="product-detail/{{product.slug}}">
                        <div class="thumb-product" >
                          <a >
                            <img id="ao" src="{{localProductImg}}/{{product.imgHomePage[0].images[0]}}" alt="" class=" static">
                            <img id="ao2" src="{{localProductImg}}/{{product.imgHomePage[0].images[1]}}" alt="" class=" hover_img">
                          </a>
                        </div>
                      </a>
                        <div class="info-product">
                          <div class="list-color">
                            <ul class="colors">
                              <li *ngFor="let v of product.variants; index as colorI" 
    [ngClass]="{'color': true, 'color-active': colorI === selectedColorIndex[productIndex]}">
    <a href="javascript:void(0)" class="color-picked" data-id="{{ v._id }}" 
        (click)="changeColor(product, v.color._id); updateSelectedColorIndex(productIndex, colorI)"
        [ngClass]="{'active-color': colorI === 0}">
        <img src="http://localhost:3000/colorImages/{{v.color.imageColor}}" alt="">
    </a>
</li>


                            </ul>
        
                            <div class="favorite">
                              <i class="ti-heart">
                              </i>
                            </div>
                          </div>
                          <div class="title-product">
                            <a href="">{{product.title}}</a>
                          </div>
                          <div class="price-product">
                            <ins>
                              <h4>{{formatMoneyVietNam(product.price)}}</h4>
                            </ins>
                            <del>
                              <span>1.790.000đ</span>
                            </del>
                          </div>
                        </div>
                        <div class="add-to-cart">
                          <a href="javascript:void(0)#" class="js-cart-button" (click)="toggleSizeTable(productIndex)">
                            <i class="ti-shopping-cart"></i>
                          </a>
                        </div>
                        <div id="sizeTable{{productIndex}}" class="sizeTable js-list-size">
                          <ul>
                            <li *ngFor="let vc of product.imgHomePage[0].variantColor" 
    [class.disabled]="vc.quantity === 0"
    (click)="vc.quantity !== 0 && popupContainer && addActiveCartPopupClass(product.title, product.price,product.imgHomePage[0].nameColor, vc.size, product.imgHomePage[0].images[0])">
    
    <button class="btn bt-large" 
            [disabled]="vc.quantity === 0"
            (click)="vc.quantity !== 0 && addToCart(product.imgHomePage[0].colorID, product._id, vc.size, 1)">
        <ng-container *ngIf="vc.quantity !== 0; else noQuantity">{{ vc.size }}</ng-container>
        <ng-template #noQuantity><del>{{ vc.size }}</del></ng-template>
    </button>
                            </li>

                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </owl-carousel-o>
          </div>
        </div>
      </div>
      <div class="popup-container" #popupContainer>
        <div class="popup">
          <div class="hed-pop-not">
            <div class="tit___hed-pop-not">Đã thêm vào giỏ hàng!</div>
            <i class="close-icon ti-close" ></i>
          </div>
          <div class="notify_wrapper">
            <div class="notify__content">
              <div class="notify__message"></div>
              <div class="notify__product">
                <div class="notify-product">
                  <div class="notify-product__thumbnail">
        <img src="{{localProductImg}}/{{productPopUp.img}}" alt="">

                  </div>
                  <div class="notify-product__content">
                    <div class="notify-product__title">{{productPopUp.title}}</div>
                    <div class="notify-product__option">{{productPopUp.color}}/{{productPopUp.size}}</div>
                    <div class="notify-product__prices">
                      <ins>{{formatMoneyVietNam(productPopUp.price)}}</ins>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="home-banner bg-before mid-home-page">
      <div class="slider-banner">
        <a href=""><img src="../assets/img/banner/Desktop_HomePage/ui_demo_10.png" alt=""></a>
      </div>
    </section>

    <section class="home-new-prod new-collection">
      <div class="exclusive-tabs">
        <div class="exclusive-head">
          <ul>
            <li class="new-coll">Bộ sưu tập thu đông</li>
          </ul>
        </div>
        <div class="exclusive-content">
          <div class="exclusive-inner active">
            <owl-carousel-o [options]="newprodOptions">
              <ng-template carouselSlide  *ngFor="let product of productsHaveModified, index as productIndex" id="thumbProduct">
                <div class="owl-stage stage-detail">
                  <div class="owl-item">
                    <div class="item-new-prod">
                      <div class="product">
                        <div class="info-tag best-seller">Best Seller</div>
                        <span class="percent percent_02">-50%
                        </span>
                        <div class="thumb-product" >
                          <a href="/product/product-detail/{{product.slug}}" >
                            <img id="ao" src="{{localProductImg}}/{{product.imgHomePage[0].images[0]}}" alt="" class=" static">
                            <img id="ao2" src="{{localProductImg}}/{{product.imgHomePage[0].images[1]}}" alt="" class=" hover_img">
                          </a>
                        </div>
                        <div class="info-product">
                          <div class="list-color">
                            <ul class="colors">
                              <li *ngFor="let v of product.variants; index as colorI" 
                                  [ngClass]="{'color': true, 'color-active': colorI === selectedColorIndex[productIndex]}">
                                <a href="javascript:void(0)" class="color-picked" data-id="{{ v._id }}" 
                                   (click)="changeColor(product, v.color._id); updateSelectedColorIndex(productIndex, colorI)">
                                  <img src="http://localhost:3000/colorImages/{{v.color.imageColor}}" alt="">
                                </a>
                              </li>
                            </ul>
        
                            <div class="favorite">
                              <i class="ti-heart">
                              </i>
                            </div>
                          </div>
                          <div class="title-product">
                            <a href="">{{product.title}}</a>
                          </div>
                          <div class="price-product">
                            <ins>
                              <h4>{{formatMoneyVietNam(product.price)}}</h4>
                            </ins>
                            <del>
                              <span>1.790.000đ</span>
                            </del>
                          </div>
                        </div>
                        <div class="add-to-cart">
                          <a href="javascript:void(0)#" class="js-cart-button" (click)="toggleSizeTable(productIndex)">
                            <i class="ti-shopping-cart"></i>
                          </a>
                        </div>
                        <div id="sizeTable{{productIndex}}" class="sizeTable js-list-size">
                          <ul>
                            <li *ngFor="let vc of product.variants[0].variantColor" class="" (click)="popupContainer &&addActiveCartPopupClass(product.title, product.price,product.imgHomePage[0].nameColor, vc.size, product.imgHomePage[0].images[0])">
                              <button class="btn bt-large" (click)="addToCart(product.imgHomePage[0].colorID, product._id, vc.size,1)">{{ vc.size }}</button>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </owl-carousel-o>
          </div>
        </div>
      </div>
      <div class="popup-container" #popupContainer>
        <div class="popup">
          <div class="hed-pop-not">
            <div class="tit___hed-pop-not">Đã thêm vào giỏ hàng!</div>
            <i class="close-icon ti-close" ></i>
          </div>
          <div class="notify_wrapper">
            <div class="notify__content">
              <div class="notify__message"></div>
              <div class="notify__product">
                <div class="notify-product">
                  <div class="notify-product__thumbnail">
                    <img src="https://static.dchic.vn/uploads/media/2023/12/DTT_0884-93723949-576x768.JPG" alt="">
                  </div>
                  <div class="notify-product__content">
                    <div class="notify-product__title">Quần Kaki Excool dáng Straight</div>
                    <div class="notify-product__option">Xám/M</div>
                    <div class="notify-product__prices">
                      <ins>499.000đ</ins>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="social-benefit">
      <a href="">
        <img src="../assets/img/banner/Desktop_HomePage/social-benefit.png" alt="">
      </a>
    </section>

    <section class="list-collection">
      <div class="collection">
        <div class="img-collection">
          <img src="../assets/img/banner/Desktop_HomePage/ui_14.png" alt="">
        </div>
        <div class="content__collection">
          <div class="subtit__content__collection">QUIET LUXURYL</div>
          <div>
            <h2 class="tit__content__collection">AUTUMN 2023<br>COLLECTION</h2>
          </div>
          <div class="button_content__collection">
            <a href="">KHÁM PHÁ NGAY</a>
          </div>
        </div>
      </div>
      <div class="collection">
        <div class="img-collection">
          <img src="../assets/img/banner/Desktop_HomePage/ui_13.png" alt="">
        </div>
        <div class="content__collection">
          <div class="subtit__content__collection">EXPRESS FAIIL</div>
          <div>
            <h2 class="tit__content__collection">WINTER 2023<br>COLLECTION</h2>
          </div>
          <div class="button_content__collection">
            <a href="">KHÁM PHÁ NGAY</a>
          </div>
        </div>
      </div>

    </section>

    <section class="catagory">
      <a class="catagory__item">
        <img src="../assets/img/banner/catagory/catagory-1.png" alt="">
      </a>
      <a class="catagory__item">
        <img src="../assets/img/banner/catagory/catagory-2.png" alt="">
      </a>
      <a class="catagory__item">
        <img src="../assets/img/banner/catagory/catagory-3.png" alt="">
      </a>
      <a class="catagory__item">
        <img src="../assets/img/banner/catagory/catagory-4.png" alt="">
      </a>
    </section>

    <section class="sale-up">
      <a class="sale-up__item">
        <img src="../assets/img/banner/ss-last.png" alt="">
      </a>
    </section>

    <!--  -->










  </div>
</main>