<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="main">
        <header id="header">
            <div class="container d-flex">
                <div class="main-menu">
                    <div class="mobile-menu">
                        <a href="javascript:void(0)" class="icon" (click)="toggleMainMenu()">
                            <i class="header__icon ti-menu"></i>
                        </a>
                    </div>
                    <ul id="nav" class="menu hide-on-mobile-tablet">
                        <li>
                            <a href="">Sản phẩm</a>
                            <ul class="sub-menu">
                                <div class="list-submenu">
                                    <div class="list-submenu__item" *ngFor="let type of types">
                                        <h3>{{type.typeName}}</h3>
                                        <ul *ngFor="let subtype of type.subtypes">
                                            <li><a href="">{{subtype.subTypeName}}</a></li>
                                        </ul>
                                    </div>
                                
            
                                </div>
                            </ul>
                        </li>
                        <li><a href="" style="color:#FF0000">Sale</a></li>
                        <li><a href="">Thành viên</a></li>
                        <li><a href="">Về chúng tôi</a></li>
                    </ul>
                    <div class="sub-mobile-menu">
                        <div class="box-action">
                            <a href="" class="action-login">Đăng nhập</a>
                        </div>
                        <ul class="menu-mb">
                            <li class="has-child">
                                <a href="javascript:void(0)" (click)="toggleSubMenu()">
                                    Sản phẩm
                                    <span class="arrows" [class.open]="submenuOpen">
                                        <i class="ti-plus"></i>
                                        <i class="ti-minus"></i>
                                    </span>
                                </a>
                                <ul class="sub-menu-mb">
                                    <li class="has-sub-child" *ngFor="let item of menuItems; let i = index" (click)="closeSubMenu()">
                                        <a href="javascript:void(0)" (click)="toggleSubMenuChild($event, i)">
                                          {{ item.label }}
                                          <span class="arrows child">
                                            <i class="ti-plus"></i>
                                            <i class="ti-minus"></i>
                                          </span>
                                        </a>
                                        <ul class="child-sub" #childSubmenu style="display:none">
                                          <li *ngFor="let subItem of item.subItems">
                                            <a href="">{{ subItem.label }}</a>
                                          </li>
                                        </ul>
                                      </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)" style="color: red;">Sale</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Thành viên</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Về chúng tôi</a>
                            </li>
                        </ul>
                        <div class="close-menu" (click)="closeMobileMenu()">
                            <i class="ti-close"></i>
                        </div>
                    </div>
                </div>
                <!-- main menu -->
                <div class="site-brand">
                    <a href="">
                        
                    </a>
                </div>
                <div class="right-header">
                    <form (click)="toggleSearchForm($event)" class="search-form hide-on-mobile-tablet">
                        <button class="search-form__btn">
                          <i class="eadher__icon ti-search icon"></i>
                        </button>
                        <input type="text" id="search-form__input" placeholder="TÌM KIẾM SẢN PHẨM" (focus)="toggleSearchForm($event)" #searchInput >
                        <div class="search-form__quick-search" (click)="handleQuickSearchClick($event)">
                            <div class="search-items search-history">
                                <h4 class="">Vừa tìm kiếm</h4>
                                <div class="search-item__hot" *ngIf="userId" >
                                    <label for="" class="search-item__hot-child" *ngFor="let key of accountInfo.historySearch">
                                        <a href="" class="search-item__hot-child-link">{{key}}</a>
                                    </label>
                                    

                                    
                                </div>
                            </div>
                            <div class="search-items search-suggest">
                                <h4>Sản phẩm gợi ý</h4>
                                <div class="search-item__hot history_list" *ngFor="let product of dataLiveSearch">                                    
                                    <a class="product-suggest" href="">
                                            <div class="sg-item-img">
                                                <img src="http://localhost:3000/productImages/{{product.variants[0].images[0]}}" alt="">
                                            </div>
                                            <div class="sg-item-info">
                                                <title>{{product.title}}</title>
                                                <div class="item-info">
                                                    <div class="sg-item-price">{{formatMoneyVietNam(product.price)}}</div>
                                                    <div class="box-p">
                                                        <p class="price-old">2.790.000₫</p>
                                                        <span class="percent">-14%</span>
                                                    </div>
                                                </div>

                                            </div>
                                    </a>
                                   
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="header-actions">
                        <div class="item item-headphone hide-on-mobile-tablet">
                          <a href="" class="icon">
                            <i class="header__icon ti-headphone"></i>
                          </a>
                        </div>
                        <div *ngIf="!isLogin" routerLink="login" class="item item-headphone hide-on-mobile-tablet">
                            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/></svg>
                        </div>
                        <div class="item item-headphone hide-on-mobile-tablet" *ngIf="isLogin">
                          <a href="javascript:void(0)" class="icon icon-account" (click)="toggleSubAction()">
                            <i class="header__icon ti-user"></i>                                
                          </a>
                          <div class="sub-action">
                            <div class="top-action">
                              <a  routerLink="/account" href="javascript:void(0)" class="icon">
                                <div class="tit-top-action">Tài khoản của tôi</div>
                              </a>
                            </div>
                            <ul>
                              <li><a routerLink="/account/info"><i class="ti-id-badge"></i> Thông tin tài khoản</a></li>
                              <li><a routerLink="/account/order"><i class="ti-reload"></i> Quản lý đơn hàng</a></li>
                              <li><a routerLink="/account/address"><i class="ti-location-pin"></i> Sổ địa chỉ</a></li>
                              <li><a routerLink="/account/favorite"><i class="ti-heart"></i> Sản phẩm yêu thích</a></li>
                              <li><a routerLink="/account/help"><i class="ti-support"></i> Yêu cầu hỗ trợ</a></li>
                              <li><a href="" (click)="logout()"><i class="ti-shift-left" ></i> Đăng xuất</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="item item-shopping">
                          <a href="javascript:void(0)" class="icon icon-shopping-cart" (click)="toggleCart()">
                            <i class="header__icon ti-shopping-cart"></i>
                            <span class="number-cart">{{cartNumberItem}}</span>
                          </a>
                          <div class="sub-action-cart sub-action">
                            <div class="top-action">
                              <h3>Giỏ hàng <span class="number-cart">{{cartNumberItem}}</span></h3>
                            </div>
                            <div class="main-action">
                              <div class="item-product-cart d-flex" *ngIf="quantityInputValue !== 0">
                                <div class="thumb-product-cart">
                                  <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2023/08/16/eb36f523de15af6b9112db2aa322f0af.JPG" alt="">
                                </div>
                                <div class="info-product-cart">
                                  <h3><a href="">Zuýp 2 lớp xếp ly bản lớn</a></h3>
                                  <div class="info-overview d-flex">
                                    <p class="overview-color"><strong>Màu sắc:</strong> Be vàng</p>
                                    <p><strong style="text-transform: uppercase">Size:</strong> S</p>
                                  </div>
                                  <div class="info-price-quantity d-flex">
                                    <div class="price-quantity-minus price-quantity" (click)="updateQuantity('minus')"><i class="ti-minus"></i></div>
                                    <input id="quantityInput" type="number" [(ngModel)]="quantityInputValue" (change)="updateQuantity('input')" />
                                    <div class="price-quantity-plus price-quantity" (click)="updateQuantity('plus')"><i class="ti-plus"></i></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="bottom-action">
                              <input type="hidden">
                              <div class="total-price">Tổng cộng: <strong>595.000₫</strong></div>
                              <div class="box-action">
                                <a href="" class="action-view-cart" routerLink="/cart" (click)="closeCart($event)">Xem giỏ hàng</a>
                                <a href="" class="action-login" *ngIf="!isLogin">Đăng nhập</a>
                              </div>
                            </div>
                            <div class="close-action" (click)="closeCart($event)"><i class="ti-close"></i></div>
                          </div>
                        </div>
                    </div>
                      
                
                </div>
            </div>
            <div class="container">
                <div class="nav-bottom-mb">
                    <div class="item-nav-bot">
                        <div class="item-nav" onclick="toggleSubItemNav(this)">
                            <i class="icon-tab-mb ti-search"></i>
                            <a href="#" class="link-nav-bot">Tìm kiếm</a>
                        </div>
                        <div class="sub-item-nav sub-item-nav-search">
                            <form action="" class="search-form">
                                <button class="search-form__btn">
                                    <i class="eadher__icon ti-search icon"></i>
                                </button>
                                <input type="text" id="search-form__input" placeholder="TÌM KIẾM SẢN PHẨM">
                                <div class="search-form__quick-search">
                                    <!-- <div class="search-items">
                                        <h4 class="">Tìm kiếm nhiều nhất</h4>
                                        <div class="search-item__hot" *ngFor="let key of accountInfo.?historySearch">
                                            <label for="" class="search-item__hot-child">
                                                <a href="" class="search-item__hot-child-link">{{key}}</a>
                                            </label>
                                          
                                        </div>
                                    </div> -->
                                    <div class="search-items">
                                        <h4>Vừa tìm kiếm</h4>
                                        <ul class="search-item__hot d-flex history_list">
                                            <li class="search-item__hot-child">
                                                <a href="" class="search-item__hot-child-link">parka</a>
                                            </li>
                                            <li class="search-item__hot-child">
                                                <a href="" class="search-item__hot-child-link">narsu</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="item-nav-bot">
                        <div class="item-nav">
                            <i class="icon-tab-mb ti-user"></i>
                            <a href="#" class="link-nav-bot">Đăng nhập</a>
                        </div>
                    </div>
                    <div class="item-nav-bot">
                        <div class="item-nav">
                            <i class="icon-tab-mb ti-headphone"></i>
                            <a href="#" class="link-nav-bot">Trợ giúp</a>
                        </div>
                    </div>
                    <div class="item-nav-bot">
                        <div class="item item-headphone item-nav" *ngIf="isLogin">
                            <a href="javascript:void(0)" class="icon icon-account" (click)="toggleSubAction()">
                              <i class="header__icon ti-user"></i>                                
                            </a>
                            <div class="sub-action">
                              <div class="top-action">
                                <a href="javascript:void(0)" class="icon">
                                  <div class="tit-top-action">Tài khoản của tôi</div>
                                </a>
                              </div>
                              <ul>
                                <li><a href=""><i class="ti-id-badge" routerLink="/account/info"></i> Thông tin tài khoản</a></li>
                                <li><a href=""><i class="ti-reload"></i> Quản lý đơn hàng</a></li>
                                <li><a href=""><i class="ti-location-pin"></i> Sổ địa chỉ</a></li>
                                <li><a href=""><i class="ti-heart"></i> Sản phẩm yêu thích</a></li>
                                <li><a href=""><i class="ti-support"></i> Yêu cầu hỗ trợ</a></li>
                                <li><a href="" (click)="logout()"><i class="ti-shift-left" ></i> Đăng xuất</a></li>
                              </ul>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</body>
</html>