body {
  color: #6c6d70;
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  overflow-x: hidden;
}
ul {
  padding-left: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #373737;
  background-color: transparent;
  transition: all 0.3s ease-in-out 0s;
}
h3 {
  margin-top: 0;
}
img {
  border: none;
  max-width: 100%;
  height: auto;
}
.ti-angle-right {
  cursor: pointer;
}
#main #header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}
.container {
  width: 1380px;
}
.container.d-flex {
  height: 64px;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
#header .container::after {
  content: "";
  height: 1px;
  width: calc(100% - 30px);
  background: #e7e8e9;
  position: absolute;
  bottom: 0;
}
input[type="text"]::placeholder {
  font-size: 12px;
}
.mobile-menu {
  display: none;
}
#nav > li {
  margin-right: 20px;
  display: inline-block;
}
#nav > li > a {
  text-transform: uppercase;
  font-size: 12px;
  color: #221f20;
  font-weight: 500;
  word-spacing: 1px;
  line-height: 64px;
  font-weight: 600;
}
#nav li:hover > a {
  color: #ac2f33;
}
#nav li:hover .sub-menu {
  display: block;
}
@keyframes fadeInShow {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#nav > li:hover > .sub-menu {
  animation: fadeInShow 0.5s;
  animation-duration: 0.5s;
  top: 55px;
}

#nav .sub-menu {
  display: none;
  position: absolute;
  padding: 23px 24px;
  max-width: 100%;
  width: 100%;
  background: #fff;
  z-index: 10;
  border: 1px solid #e7e8e9;
}
#nav .sub-menu .list-submenu {
  flex-wrap: wrap;
  display: flex;
}
.list-submenu .list-submenu__item {
  margin-right: 50px;
}
.list-submenu .list-submenu__item h3 {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 16px;
  font-size: 14px;
  display: block;
  margin: 0 0 16px 0;
}
.list-submenu__item ul {
  padding: 0 0 0 0;
}
.list-submenu__item ul li {
}
.list-submenu__item ul li a {
  font-size: 14px;
  line-height: 16px;
  color: #57585a;
  display: block;
  margin-bottom: 16px;
  display: block;
}
.sub-mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 45px;
  background: #fff;
  z-index: 1000;
  padding: 64px 16px 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
  overflow-y: auto;
}
.main-menu.open .sub-mobile-menu {
  opacity: 1;
  visibility: visible;
  left: 0;
}
.sub-mobile-menu .box-action a {
  background: #221f20;
  border-radius: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #f7f8f9;
  padding: 12px 0;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
.menu-mb .has-child {
  margin-bottom: 30px;
}
.menu-mb li {
  margin-bottom: 30px;
}
.menu-mb > li > a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.has-child .arrows .ti-minus,
.has-child .arrows.open .ti-plus {
  display: none;
}
.has-child .arrows.open .ti-minus,
.has-child .arrows .ti-plus {
  display: block;
}
.sub-menu-mb {
  padding-left: 22px;
  display: none;
}
.sub-menu-mb li a {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.sub-menu-mb > li > a {
  text-transform: uppercase;
}
.menu-mb li {
  margin-bottom: 30px;
}
.sub-menu-mb .has-sub-child .child-sub {
  padding-left: 30px;
}
.sub-mobile-menu .close-menu {
  position: absolute;
  top: 23px;
  left: 21px;
  color: #221f20;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.sub-mobile-menu .close-menu .ti-close {
  font-size: 16px;
}
#header .site-brand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.site-brand img {
  height: auto;
  width: 140px;
  display: block;
  max-width: 100%;
}
.right-header .search-form {
  position: relative;
  width: 240px;
  margin-right: 20px;
}
.right-header .search-form::after {
  content: "";
  display: block;
  width: 150%;
  height: 0px;
}
.search-form__btn {
  height: 40px;
  width: 40px;
  border: none;
  position: absolute;
  top: 1px;
  left: 0;
  background: none;
  cursor: pointer;
  font-size: 16px;
}
.search-form__input {
}
input#search-form__input {
  width: 100%;
  height: 40px;
  background: #fff;
  border: 1px solid #e7e8e9;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  outline: none;
  padding: 15px 15px 15px 40px;
}

.search-form__quick-search {
  opacity: 0;
  position: absolute;
  background: #fff;
  border: 1px solid #e7e8e9;
  border-radius: 4px;
  padding: 24px 24px 16px;
  width: 440px;
  top: 48px;
  z-index: 100;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}
.search-form.active .search-form__quick-search {
  visibility: visible;
  opacity: 1;
}
.search-form__quick-search .search-items {
  margin-right: 8px;
  margin-bottom: 24px;
}
.search-form__quick-search h4 {
  margin-top: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #221f20;
  margin-bottom: 16px;
}
.search-form__quick-search .search-item__hot {
}
.search-form__quick-search .search-items .search-item__hot-child {
  max-width: unset;
  width: auto;
  border: 1px solid;
  border-color: #dddddd;
  border-radius: 22% 0 22% 0;
  margin: 0 8px 8px 0;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #221f20;
}
.search-form__quick-search .search-item__hot-child-link {
  font-size: 12px;
  line-height: 16px;
  padding: 8px 12px;
  color: #6c6d70;
  display: block;
  font-weight: normal;
  cursor: pointer;
}
.history_list {
  padding: 0;
}
.search-items .product-suggest {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 10px;
  border-bottom: 1px solid #eee;
}
.search-items .product-suggest .sg-item-img {
  float: left;
  width: 60px;
  height: 90px;
  margin: 0 6px 0 0;
}
.search-items .product-suggest .sg-item-img img {
  width: 100%;
}
.search-items .product-suggest .sg-item-info {
  float: left;
  width: calc(100% - 66px);
}
.search-items .product-suggest .sg-item-info .item-info {
  display: flex;
}

.search-items .product-suggest .sg-item-info title {
  display: block;
  color: #333;
  font-size: 14px;
  overflow: hidden;
}
.search-items .product-suggest .sg-item-info .sg-item-price {
  font-size: 14px;
  color: #e83a45;
  float: none;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}
.search-items .product-suggest .sg-item-info .box-p {
  display: inline-block;
  vertical-align: middle;
}
.search-items .product-suggest .sg-item-info .box-p .price-old {
  display: inline-block;
  text-decoration: line-through;
  color: #333;
  margin-right: 4px;
}
.search-items .product-suggest .sg-item-info .box-p .percent {
  color: #333;
}
#header > .right-header {
  width: 50%;
  text-align: right;
}
.right-header > * {
  display: inline-block;
  text-align: left;
}
.header-actions .item {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}
.header-actions .icon {
  color: #000000;
}
.header__icon {
  font-size: 16px;
}
.header__icon.ti-menu {
  font-size: 24px;
}
.item-shopping .icon .number-cart {
  width: 16px;
  height: 16px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  right: -20px;
  top: -10px;
}
.number-cart {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  background: #221f20;
  width: 24px;
  height: 24px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: -32px;
  font-family: "Montserrat";
}
.header-actions .sub-action {
  position: absolute;
  top: 40px;
  right: 0;
  background: #fff;
  display: none;
  z-index: 2;
  border: 1px solid #e7e8e9;
  box-sizing: border-box;
  border-radius: 4px;
  width: max-content;
  min-width: 255px;
}
.header-actions .sub-action.account-open {
    display: block;
}

.header-actions .sub-action-cart {
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  min-width: 390px;
  transition: all 0.3s ease-in-out 0s;
  display: block;
}
.header-actions .sub-action-cart.active {
  opacity: 1;
  visibility: visible;
  right: 0;
}
.top-action {
  padding: 24px 24px 20px;
  position: relative;
  border-bottom: 1px solid #f7f8f9;
  margin-bottom: 24px;
}
.sub-action-cart h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  display: inline-block;
  position: relative;
  color: #221f20;
  margin: 0 0 0 0;
}
.main-action {
  max-height: calc(100vh - 76px - 200px);
  overflow-y: auto;
  padding: 0 24px;
}
.item-product-cart {
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #f6f7f8;
}
.thumb-product-cart {
  width: 64px;
}
.info-product-cart {
  width: calc(100% - 64px);
  padding-left: 12px;
}
.sub-action-cart .info-product-cart h3 {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #3e3e3f;
  margin-bottom: 8px;
}
.info-overview {
  margin-bottom: 12px;
}
.info-overview p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: inline-block;
  margin: 0 16px 0 0;
}
.info-price {
  justify-content: space-between;
}
.info-price-quantity {
  position: relative;
  width: max-content;
  padding: 0 12px;
}
.price-quantity {
  position: absolute;
  top: 0;
  background: #ffffff;
  border: 1px solid #e7e8e9;
  border-radius: 8px 0px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.price-quantity-minus {
  left: 0;
}
.info-price-quantity input {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  height: 24px;
  padding: 4px 0;
  width: 48px;
  text-align: center;
  border: 1px solid #e7e8e9;
  border-radius: 4px;
  color: #57585a;
  font-family: "Montserrat", sans-serif;
}
.price-quantity-plus {
  right: 0;
}
.info-price-cart ins {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #ac2f33;
}
.bottom-action .total-price {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat";
  display: block;
  text-align: right;
  color: #525459;
  margin-bottom: 16px;
  padding: 0 24px;
  border-bottom: 1px solid #f6f7f8;
}
.bottom-action .total-price strong {
  font-size: 18px;
  line-height: 24px;
  color: #0a0a0b;
  font-weight: 600;
}
.bottom-action .box-action {
  padding: 0 24px;
}
.bottom-action .box-action .action-view-cart:hover {
  color: #0a0a0b;
  background: #fff;
  border: 1px solid #0a0a0b;
}
.bottom-action .action-view-cart {
    color: #FFFFFF;
    background: #0A0A0B;
    border: 1px solid transparent;
    margin-bottom: 20px;
    border-radius: 35px;

}

.bottom-action a {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  font-family: "Montserrat";
  display: block;
  padding: 16px 0;
  text-align: center;
  text-transform: uppercase;
}
.bottom-action .action-login {
    color: #4B4E51;
    border: 1px solid #4B4E51;
    border-radius: 37px ;
}
.bottom-action {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
}
.close-action {
  position: absolute;
  top: 22px;
  right: 22px;
  line-height: 1;
  font-size: 20px;
  cursor: pointer;
  color: #172b4d;
}
#site-main {
  padding-top: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid #d1d2d4;
}

.home-banner {
  margin-bottom: 40px;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  background: #fff;
}
.container .stroke-bg {
  position: relative;
}
.home-banner.stroke-bg::before {
  content: "";
  border-radius: 80px 0px 80px 0px;
  border: 1px solid #d1d2d4;
  right: -10px;
  top: 12px;
  width: 95%;
  height: 92%;
  padding: 13px 24px;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.slider__banner .owl-stage-outer {
  position: relative;
}
.exclusive-inner__list-products .owl-stage-outer {
  margin: 0 -7px;
  padding: 0 7px;
}
.slider__banner .owl-stage-outer .owl-stage {
  position: relative;
  width: 8100px;
}
.slider__banner .owl-item {
  position: relative;
}
.slider__banner .item-banner {
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  overflow: hidden;
}
.slider__banner .owl-item img {
  display: block;
  width: 100%;
  cursor: pointer;
}
.owl-carousel .owl-nav > button {
  position: absolute;
  top: 42%;
}
.owl-carousel .owl-nav > button:hover {
  color: #000;
  cursor: pointer;
}
button.owl-next,
button.owl-prev {
  display: block;
  color: #bcbdc0;
  background: unset;
  border: 0;
  width: auto;
  height: auto;
  left: 24px;
  font-size: 70px;
}
button.owl-next {
  right: 24px;
  left: auto;
}
.home-prod {
  margin-bottom: 40px;
}
.owl-carousel .owl-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
}
.owl-carousel button.owl-dot.active {
  background-color: #fff;
}
.owl-carousel .owl-dots > button {
  width: 12px;
  height: 12px;
  border: 1px solid #d1d2d4;
  border-radius: 50%;
  margin: 0;
  margin-right: 16px;
  background-color: transparent;
}
.home-prod .home-prod__title {
  margin-bottom: 20px;
}
.home-prod__title {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  line-height: 32px;
  font-family: "Montserrat";
  color: #221f20;
}
.exclusive-header ul {
  text-align: center;
  margin-bottom: 28px;
  margin-top: 0;
}
.exclusive_tab.active {
  color: #221f20;
  border-bottom: 2px solid #221f20;
}
.exclusive_tab {
  color: #6c6d70;
  font-size: 20px;
  line-height: 30px;
  margin-right: 56px;
  display: inline-block;
  cursor: pointer;
}
.exclusive_tab.fix-margin {
  margin-right: 0px;
}
.exclusive-inner {
  display: none;
}
.exclusive-inner.active {
  display: block;
}
.exclusive-inner__list-products {
  z-index: 1;
  position: relative;
}
.home-prod .exclusive-inner__list-products .owl-stage {
}

.exclusive-inner__list-products .item-new-prod .product {
  position: relative;
}
.owl-item img {
  display: block;
  width: 100%;
}
.thumb-product {
  margin-bottom: 17px;
  position: relative;
  cursor: pointer;
  display: block;
}
.thumb-product::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100%;
}
.owl-item .hover_img {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: opacity 0.4s ease-out;
}
.owl-item .thumb-product:hover .hover_img {
  opacity: 1;
  z-index: 0;
}

.item-new-prod img {
  display: block;
  width: 100%;
}
img {
  border: none;
  max-width: 100%;
  height: auto;
}
.list-color {
  display: flex;
  margin-bottom: 13px;
  justify-content: space-between;
}
.list-color ul {
  padding-left: 0;
  margin: 0 0 0 0;
}

.list-color ul li.color-active:before {
  content: "";
  position: absolute;
  display: block;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  width: 5px;
  height: 9px;
  left: 6px;
  top: 2px;
  transform: rotate(45deg);
}

.item-new-prod .info-product img {
  display: block;
  width: 100%;
  border-radius: 50%;
}
.favorite {
  cursor: pointer;
}
.ti-heart {
  font-size: 16px;
}
.favorite .ti-heart {
}

.title-product a {
  color: #57585a;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  display: block;
  text-transform: capitalize;
}
.product .title-product a {
  min-height: 32px;
}
.price-product ins {
  color: #3e3e3f;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}
.price-product ins h4 {
  margin: 0 0 0 0;
}
.add-to-cart a {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #221f20;
  border-radius: 8px 0;
  width: 32px;
  height: 32px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-to-cart > a:hover {
  color: #221f20;
  background: #fff;
  border: 1px solid #221f20;
}
.add-to-cart a i {
  font-size: 16px;
}
.sizeTable {
  position: absolute;
  background-color: #fff;
  border: 1px solid #e7e8e9;
  right: 0;
  display: none;
  bottom: 35px;
}
.sizeTable.open {
  display: block;
}
.sizeTable ul li button {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #221f20;
  padding: 12px 50px;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.sizeTable ul li button:hover {
  color: #ac2f33;
}
.sizeTable li.stock-size {
  pointer-events: none;
}
.sizeTable li.stock-size button {
  color: #d1d2d4;
}
.exclusive-inner__list-products .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.exclusive-inner__link-products {
  margin-top: 24px;
  text-align: center;
}
.exclusive-inner__link-products .all-products {
  border: 1px solid #221f20;
  padding: 13px 24px;
  border-radius: 24px 0px;
  line-height: 20px;
  position: relative;
  background: #fff;
  font-size: 16px;
  display: inline-block;
}
.exclusive-inner__link-products .all-products:hover {
  background: #221f20;
  color: #fff;
  border: 1px solid #221f20;
  transition: all 0.3s ease-in-out 0s;
}
.exclusive-inner__link-products .all-products:after {
  content: "";
  position: absolute;
  border: 1px solid #d1d2d4;
  border-radius: 24px 0px;
  padding: 13px 24px;
  width: 64%;
  right: -5px;
  bottom: 0;
  height: 32%;
  z-index: -1;
}
.info-tag {
  position: absolute;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  top: 0;
  left: -7px;
  z-index: 3;
}
.exclusive-inner__list-products .info-tag:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 17px solid #d73831;
  border-left: 7px solid transparent;
  bottom: -16px;
  left: 0px;
}
.best-seller {
  background-image: url(/asset/img/bg-seller.png);
  padding: 7px 18px 7px 15px;
}
.exclusive-inner__list-products .percent {
  position: absolute;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  padding: 13px 12px 13px 8px;
  top: 8px;
  right: 9px;
  z-index: 1;
}
.exclusive-inner__list-products .percent_01 {
}
.exclusive-inner__list-products .percent_02 {
  background: url(/asset/img/percent_02.png) no-repeat;
}
.exclusive-inner__list-products .percent_03 {
}
.exclusive-inner__list-products .percent_02 span {
  position: absolute;
  font-size: 8px;
  line-height: 12px;
}

.home-gallery {
}
.home-gallery .home-gallery__title {
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
  color: #221f20;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.home-gallery .home-gallery__list-product .item-gallery {
  min-height: 1px;
  float: left;
}
.home-gallery__list-product .item-gallery a {
  cursor: pointer;
}
.home-gallery__list-product .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-item .item-gallery img {
  display: block;
}
.footer {
  padding: 60px 0 0;
  border-bottom: 1px solid #d1d2d4;
}
.main-footer {
  padding-bottom: 32px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-footer .left-footer {
  max-width: 22.05%;
  width: 100%;
}
.main-footer .top-left {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}
.top-left > div > a,
.top-left > div > a > img {
  display: block;
}
.top-left > div {
  display: inline-block;
}
.content-left .info-left p {
  margin-bottom: 12px;
  font-size: 14px;
}
.content-left .list-social {
  margin-top: 24px;
  margin-bottom: 32px;
  padding-left: 0;
}
.list-social li {
  vertical-align: middle;
  list-style: none;
  display: inline-block;
  margin-right: 25px;
}
.list-social a img {
  display: block;
}
.hotline a {
  background: #221f20;
  border-radius: 16px 0px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #f7f8f9;
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  display: inline-block;
}
.center-footer {
  max-width: 45.2%;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.style-center .title-footer {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #221f20;
  margin-bottom: 20px;
}
.style-center ul li a {
  font-size: 14px;
  line-height: 24px;
  color: #57585a;
  margin-bottom: 16px;
  display: block;
}
.right-footer {
  max-width: 23.75%;
  width: 100%;
}
.right-footer .register-form {
  background: #ffffff;
  border: 4px solid #e7e8e9;
  border-radius: 56px 0px;
  padding: 24px 12px;
  margin-bottom: 32px;
}
.right-footer .register-form .title-footer {
  text-align: left;
  max-width: 80%;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #221f20;
}
.right-footer .register-form form {
  display: flex;
  justify-content: space-between;
}
.right-footer .register-form form > input {
  outline: none;
  margin-right: 0;
  border: 0;
  border-bottom: 1px solid #bcbdc0;
  color: #221f20;
  border-radius: 0;
  width: 66%;
  font-size: 12px;
  line-height: 16px;
  padding: 0;
}
.right-footer .register-form .btn-submit {
  position: relative;
  display: inline-block;
  background: #fff;
  border-radius: 24px 0px;
  width: calc(100% - 66%);
  margin-left: 18px;
}
.right-footer .register-form .btn-submit::before {
  content: "";
  border: 1px solid #d1d2d4;
  box-sizing: border-box;
  border-radius: 24px 0px;
  padding: 13px 24px;
  position: absolute;
  width: 100%;
  height: 93%;
  z-index: 0;
  bottom: 0;
  right: -3px;
}
.right-footer .register-form .form-submit {
  background: #fff;
  border: 1px solid #221f20;
  box-sizing: border-box;
  border-radius: 24px 0px;
  margin-right: 0;
  cursor: pointer;
  line-height: 20px;
  color: #221f20;
  position: relative;
  font-size: 14px;
  padding: 7px 16px;
  width: 100%;
  z-index: 2;
}
.right-footer .register-form .form-submit:hover {
  background: #221f20;
  color: #fff;
  border: 1px solid #221f20;
}
.bottom-footer {
  padding: 24px 0;
}
.bottom-footer .copy-right {
  font-size: 16px;
  line-height: 20px;
  color: #57585a;
  text-align: center;
}
.footer-mb {
  display: none;
}
.nav-bottom-mb {
  display: none;
}
.footer .left-footer .top-left .logo_DMCA img {
  max-height: 30px;
}
.footer .top-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Shop-cart */
.max-width {
  max-width: 600px;
}
.cart-header {
  border-bottom: 1px solid #e5e5e5;
  color: #323232;
  margin: auto;
  min-height: 40px;
  padding: 10px;
  position: relative;
}
.cart-header .go-back {
  display: flex;
  justify-content: space-between;
}
.cart-header a {
  color: #323232;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
}
.cart-header a i {
  font-size: 18px;
}
.cart-header .go-back p {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  left: 50%;
  top: 50%;
  margin: 0;
  text-align: center;
  transform: translate(-50%, -50%);
  width: fit-content;
}
.cart-header .block-info {
  border-radius: 10px;
  margin: auto auto 20px;
  max-width: 600px;
  padding: 0;
  margin-top: 10px;
}

.top-action {
  padding: 24px 24px 20px;
  position: relative;
  border-bottom: 1px solid #f7f8f9;
  margin-bottom: 24px;
}
.header-actions .icon {
  font-size: 16px;
  color: #000;
  position: relative;
}

.sub-action .tit-top-action {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #221f20;
}
.sub-action ul {
  padding: 0 24px;
}
.sub-action{
display: none;
}
.sub-action ul li a {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #808285;
  margin-bottom: 24px;
  display: block;
}
.sub-action ul li a i {
  display: inline-block;
  margin-right: 12px;
  vertical-align: middle;
}
/* styles.css hoặc styles.scss */

/* Tùy chỉnh màu nền cho Snackbar */
.custom-snackbar {
    background-color: #333;
    color: #fff;
}
  
  /* Tùy chỉnh góc bo tròn của Snackbar */
.custom-snackbar .mat-simple-snackbar {
    border-radius: 10px;
}
  

/* Responsive */
.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
}

@media (max-width: 768px) {
  .nav-bottom-mb {
    display: flex;
    position: fixed;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 4px 0 0;
    z-index: 999;
  }
}
/* Ipad pro */
@media (min-width: 1024px) and (max-width: 1200px) {
  #nav > li {
    margin-right: 7px;
  }
  #nav > li > a {
    font-size: 11px;
  }
  .container {
    width: 970px;
  }
  .right-header .search-form {
    max-width: 170px;
    margin-right: 20px;
  }
  input[type="text"]::placeholder {
    font-size: 10px;
  }
  .footer {
    display: none;
  }
  .footer-mb {
    display: block;
    padding-top: 23px;
    padding-bottom: 16px;
  }
  .center-footer {
    max-width: 100%;
  }
  .style-center .title-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 14px;
  }
  .right-footer {
    max-width: 100%;
  }
  .right-footer .register-form {
    margin-bottom: 24px;
    border-radius: 24px 0px;
    border: 4px solid #e7e8e9;
    padding: 24px 12px;
  }
  .social-footer {
    margin-bottom: 32px;
  }
  .social-footer .list-social {
    margin: 0 0 24px;
    line-height: 0;
  }
}
/* Mobile & Tablet */
@media (max-width: 1024px) {
  .container {
    width: calc(100% - 20px);
  }
  .hide-on-mobile-tablet {
    display: none;
  }
  #site-main {
    padding-botsrtom: 16px;
  }
  #slider {
    display: none;
  }
  .margin-container {
    margin-top: 40px;
  }
  .mobile-menu {
    display: block;
  }
  .site-brand img {
    width: 117px;
    height: auto;
  }
  .header-actions .hide-on-mobile-tablet {
    display: none;
  }
  .home-prod {
    margin-bottom: 24px;
  }
  .home-prod .home-prod__title {
    margin-bottom: 10px;
  }
  .home-prod__title {
    font-size: 20px;
    line-height: 32px;
  }
  .exclusive-header > ul {
    margin-bottom: 16px;
  }
  .exclusive-header .exclusive_tab {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 8px;
  }
  .home-gallery {
    margin-bottom: 16px;
  }
  .home-gallery .home-gallery__title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    letter-spacing: normal;
  }
  .product .title-product a {
    min-height: 26px;
  }
  .title-product a {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 9px;
  }
  .price-product ins {
    font-size: 14px;
    line-height: 16px;
  }
  .list-color {
    margin-bottom: 8px;
    line-height: 0;
    align-items: center;
  }

  .list-color ul li.color-active:before {
    left: 5px;
    top: 1.5px;
    width: 5px;
    height: 8px;
  }
  .best-seller {
    padding: 3px 7px 3px 6px;
  }
  .info-tag {
    font-size: 11px;
  }
  .exclusive-inner__list-products .percent {
    width: 32px;
    height: 32px;
    padding: 8px 10px 8px 3px;
    font-size: 10px;
    right: 12px;
  }
  .exclusive-inner__list-products .percent_02 {
    border: 2px;
    background: #dc633a;
    border-radius: 16px 16px 0px 16px;
  }
  .favorite i {
    font-size: 12px;
  }
  .add-to-cart a {
    width: 20px;
    height: 20px;
    bottom: 1px;
    border-radius: 4px 0;
  }
  .add-to-cart a i {
    font-size: 8px;
  }
  .exclusive-inner__link-products .all-products {
    font-size: 14px;
    line-height: 16px;
    padding: 10px 16px;
    border-radius: 12px 0px;
  }
  .exclusive-inner__link-products .all-products:after {
    border-radius: 12px 0px;
    right: -6px;
    bottom: 1px;
    height: 14%;
    width: 53%;
  }
  .home-gallery__list-product .owl-item {
    margin-right: 8px;
    width: 234.667px;
  }
  .footer {
    display: none;
  }
  .footer-mb {
    display: block;
    padding: 20px;
  }
  .center-footer {
    max-width: 100%;
  }
  .style-center .title-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 14px;
  }
  .ti-angle-right {
    transition: all 0.3s ease-in-out 0s;
  }
  .style-center.active i {
    transform: rotate(90deg);
  }
  .right-footer {
    max-width: 100%;
  }
  .right-footer .register-form {
    margin-bottom: 24px;
    border-radius: 24px 0px;
    border: 4px solid #e7e8e9;
    padding: 24px 12px;
  }
  .right-footer .register-form .title-footer {
    max-width: 100%;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
  }
  .social-footer .list-social {
    margin: 0 0 24px;
    line-height: 0;
  }
  .hotline a {
    font-family: "Montserrat";
    padding: 12px 19px;
  }
  .footer-mb .social-footer {
    margin-bottom: 32px;
  }
  .bottom-footer .copy-right {
    font-size: 12px;
    line-height: 16px;
  }
  .bottom-footer {
    padding: 18px 0 68px;
  }
  .item-nav-bot {
    width: 25%;
    text-align: center;
  }
  .item-nav-bot a {
    display: block;
    font-size: 10px;
    line-height: 16px;
    color: #221f20;
    margin-top: 2px;
  }
  .icon-tab-mb {
    font-size: 16px;
  }
  .sub-item-nav {
    visibility: hidden;
  }
  .sub-item-nav-search {
    opacity: 0;
    position: fixed;
    top: 0;
    border: 0;
    padding: 10px 7px;
  }
  .sub-item-nav-search.open {
    opacity: 1;
    visibility: visible;
  }
  .sub-item-nav-search.open .search-form__quick-search {
    opacity: 1;
    visibility: visible;
  }
  .sub-item-nav-search {
    position: fixed;
    top: 0;
    border: 0;
    padding: 10px 7px;
    bottom: 46px;
    background: #fff;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: left;
    transition: all 0.3s ease-in-out 0s;
  }
  .search-form {
    max-width: 100%;
  }
  .search-form__btn {
    top: 0px;
    left: 0px;
  }
  .search-form__quick-search {
    margin-top: 10px;
    display: block;
    width: 100%;
  }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .container {
    width: 750px;
  }
  .hide-on-tablet {
    display: none;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }
  .container {
    width: 100%;
  }
  .margin-container {
    margin-top: 20px;
  }
  .container.d-flex {
    height: 64px;
  }
  #header .site-brand {
    margin-top: 4px;
  }
  .footer-mb {
    padding: 23px 0 0 0;
    display: block;
  }
  .right-footer .register-form {
    margin-bottom: 24px;
    border-radius: 24px 0px;
    border: 4px solid #e7e8e9;
    padding: 24px 12px;
  }
  .right-footer .register-form form > input {
    width: 67.1%;
    font-size: 12px;
    line-height: 16px;
    padding: 0;
  }
  .content-left .info-left p {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
  }
}
