.order-container {
    margin: auto;
    margin-top: 100px;
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px 12px;
    font-size: 1rem;
    font-style: normal;
    /* font-weight: 600; */
    line-height: normal;
    letter-spacing: 0.96px;
}

.main-title {
    color: #000;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.92px;
    margin-bottom: 30px;
}



p {
    margin: 0;
}

img {
    width: 150px;
    height: 215px;
}

.cart-item__voucher-small {
    /* padding: 5px 8px;
        align-items: flex-start;
        gap: 10px;
        */
    border-radius: 11px;
    border: 1px solid #9b3a23;
    color: #9b3a23;
    width: fit-content;
}

.voucher-icon>svg {
    width: 16px;
    height: 16px;
}

.fw6 {
    font-weight: 600;
}

/* .sale-price {
    font-size: 1em;
    color: #ff0000c2;
  } */
.origin-price {
    font-weight: 100;
    text-decoration: line-through;
    color: #999;
    font-size: 12px;
}

.address-container {
    border-radius: 8px;
    border: 1px solid var(--Semantic-02, #CCC);
    padding: 20px;
}

.name {
    display: flex;
    /* align-items: center; */
    gap: 10px;
    font-weight: 700;
}

.default-tag {
    display: inline-block;
    padding: 3px 5px;
    /* align-items: center; */
    /* width: 85px; */
    height: 21px;
    margin-bottom: 8px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    border-radius: 20px;
    border: 1px solid var(--semantic-02, #CCC);
}

.btn-choose-address {
    border-radius: 4px;
    border: 1px solid var(--Primary-01, #9B3A23);
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--Primary-01, #9B3A23);
    font-size: 12px;
    font-weight: 700;
    width: 157px;
    cursor: pointer;
}

.button-add{
    border-radius: 4px;
background: var(--Primary-01, #9B3A23);
display: flex;
height: 39px;
padding: 8px 10px;
align-items: center;
gap: 4px;
color: white;
font-weight: 700;
cursor: pointer;
}